.pricing-wrapper
  .pricing_box.large
    .header
      %span= @selected_plan.title.capitalize
    %ul.pricing-features
      %li.even
        %strong.yes Free tips
      %li.odd
        %strong{class: "#{@selected_plan.reception_delay == 0 ? 'yes' : 'no'}"} Real-time notice bet
      %li.even
        %strong{class: "#{@selected_plan.free? ? 'no' : 'yes'}"} Follow professional tipster
      %li.odd
        %strong{class: "#{@selected_plan.profit_guaranteed? ? 'yes' : 'no'}"} Profit guaranteed
      %li.even
        %strong{class: "#{@selected_plan.switch_tipster_ability? ? 'yes' : 'no'}"} Change following tipster
      %li.odd
        %strong{class: "#{(@selected_plan.number_tipster > 1) ? 'yes' : 'no'}"} Follow multi tipsters