%ul.steps-container
  %li{class: class_for_subscribe_step(1,@step)}
    .text-center
      %p
        %span.step-number 1
      %p
        %span.step-name= (@selected_plan && @selected_plan.free?) ? links_for_subscribe_free_step(1,session[:step]) : links_for_subscribe_step(1,session[:step])
  %li.step-seperator-container
    .step-seperator
  %li{class: class_for_subscribe_step(2,@step)}
    .text-center
      %p
        %span.step-number 2
      %p
        %span.step-name= (@selected_plan && @selected_plan.free?) ? links_for_subscribe_free_step(2,session[:step]) : links_for_subscribe_step(2,session[:step])
  %li.step-seperator-container
    .step-seperator
  %li{class: class_for_subscribe_step(3,@step)}
    .text-center
      %p
        %span.step-number 3
      %p
        %span.step-name= (@selected_plan && @selected_plan.free?) ? links_for_subscribe_free_step(3,session[:step]) : links_for_subscribe_step(3,session[:step])
  - unless (@selected_plan && @selected_plan.free?)
    %li.step-seperator-container
      .step-seperator
    %li{class: class_for_subscribe_step(4,@step)}
      .text-center
        %p
          %span.step-number 4
        %p
          %span.step-name= links_for_subscribe_step(4,session[:step])
    %li.step-seperator-container
      .step-seperator
    %li{class: class_for_subscribe_step(5,@step)}
      .text-center
        %p
          %span.step-number 5
        %p
          %span.step-name= links_for_subscribe_step(5,session[:step])