- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{selected_plan.free? ? 'three-steps' : ''}"}
      = render 'step_header',step: @step,select_plan: selected_plan
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          .row-fluid
            .col-md-6.pull-left
              %h4= t('user.sign_up')
              = simple_form_for @account, url: subscribe_account_path, html: {id: 'sign-up-form', class: 'tipster-form-style form-horizontal mbn', nonvalidate: false} do |acc|
                = acc.input :email, required: true
                = acc.input :password, required: true
                = acc.input :password_confirmation, required: true
                = hidden_field_tag :act,'sign_up'
                .form-group
                  .col-md-7.col-md-offset-4
                    %button.btn.btn-success{type: "submit"}
                      %i.typcn.typcn-world.mrs
                      Create Account
            .col-md-6.pull-right
              %h4= t('user.sign_in')
              = simple_form_for @account2, url: subscribe_account_path, html: {id: 'sign-in-form', class: 'tipster-form-style form-horizontal mbn', nonvalidate: false} do |acc|
                = acc.input :email, required: true
                = acc.input :password, required: true
                = hidden_field_tag :act,'sign_in'
                - if @error
                  .alert.fade.in.alert-danger{"data-alert" => "alert"}
                    %a.close{"data-dismiss" => "alert", href: "#"}> ×
                    = t('account.invalid')
                #sign-in-message-container
                .form-group
                  .col-md-7.col-md-offset-4
                    %button.btn.btn-success{type: "submit"}
                      %i.typcn.typcn-world.mrs
                      = t('user.sign_in')
          .clearfix
          %hr
          .tipster-form
            %p Connect from social networks
            .form-group
              .col-md-6
                %a.btn.btn-md.btn-block.btn-social.btn-facebook{href: account_omniauth_authorize_path(:facebook)}
                  %i.fa.fa-facebook
                  Facebook
              .col-md-6
                %a.btn.btn-md.btn-block.btn-social.btn-google-plus{href: account_omniauth_authorize_path(:google_oauth2)}
                  %i.fa.fa-google-plus
                  Google plus