- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@select_plan.free? ? 'three-steps' : ''}"}
      %ul.steps-container
        %li.current
          .text-center
            %p
              %span.step-number 1
            %p
              %span.step-name Account
        %li.step-seperator-container
          .step-seperator
        %li
          .text-center
            %p
              %span.step-number 2
            %p
              %span.step-name Personal Information
        %li.step-seperator-container
          .step-seperator
        %li
          .text-center
            %p
              %span.step-number 3
            %p
              %span.step-name
                - if @select_plan.free?
                  Confirmation
                - else
                  Share on social network
        - unless @select_plan.free?
          %li.step-seperator-container
            .step-seperator
          %li
            .text-center
              %p
                %span.step-number 4
              %p
                %span.step-name Receive your tips
          %li.step-seperator-container
            .step-seperator
          %li
            .text-center
              %p
                %span.step-number 5
              %p
                %span.step-name Payment
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          .row-fluid
            .col-md-6.pull-left
              %h4= t('user.sign_up')
              = simple_form_for @account, url: subscribe_account_path, html: {id: 'sign-up-form', class: 'tipster-form-style form-horizontal mbn', nonvalidate: false} do |acc|
                = acc.input :email, required: true
                = acc.input :password, required: true
                = acc.input :password_confirmation, required: true
                = hidden_field_tag :act,'sign_up'
                .form-group
                  .col-md-7.col-md-offset-4
                    %button.btn.btn-success{type: "submit"}
                      %i.typcn.typcn-world.mrs
                      Create Account
            .col-md-6.pull-right
              %h4= t('user.sign_in')
              = simple_form_for @account2, url: subscribe_account_path, html: {id: 'sign-in-form', class: 'tipster-form-style form-horizontal mbn', nonvalidate: false} do |acc|
                = acc.input :email, required: true
                = acc.input :password, required: true
                = hidden_field_tag :act,'sign_in'
                #sign-in-message-container
                .form-group
                  .col-md-7.col-md-offset-4
                    %button.btn.btn-success{type: "submit"}
                      %i.typcn.typcn-world.mrs
                      = t('user.sign_in')
                    %a.mls.text-xs{href: "/accounts/password/new"} Recovery Account
          .clearfix
          .tipster-form
            .form-group
              .col-sm-6
                %a.btn.btn-block.btn-facebook{href: account_omniauth_authorize_path(:facebook)}
                  %span.glyphicon.glyphicon-leaf
                  Facebook
              .col-sm-6
                %a.btn.btn-danger.btn-block
                  %span.glyphicon.glyphicon-fire{href: account_omniauth_authorize_path(:google_oauth2)}
                  Google+
- if @error
  :javascript
    Helper.flash_message('danger','Email or password is invalid', 5000, '#sign-in-message-container');