#rootwizard{'data-no-turbolink' => true}
  .navbar
    .navbar-inner
      .container
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", href: "#tab1"} Choose Offer
          -# unless current_user && current_user.profile
          %li
            %a{"data-toggle" => "tab", href: "#tab2"} Identification
          %li
            %a{href: subscribe_payment_method_path} Payment Method
          %li
            %a{"data-toggle" => "tab", href: "#tab4"} Payment
          %li
            %a{"data-toggle" => "tab", href: "#tab5"} Confirmation
  .tab-content
    #tab1.tab-pane.active
      - if @select_plan
        %h3 Your selected plan:
        %ul
          %li
            Name:
            %strong= @select_plan.title
      %hr
      %h3 Would you win a bonus? Help us
      .span12
        .span4{style: 'padding: 10px; border: 1px solid #ccc'}
          .fb-login-button{"data-auto-logout-link" => "false", "data-max-rows" => "1",
             "data-show-faces" => "false", "data-size" => "medium", onlogin: 'window.location.reload()', style: 'display:none'}
          = like_button '548927411872156', href: 'https://www.facebook.com/BetAdvisor', layout: :standard, show_faces: true
        .span4{style: 'padding: 10px; border: 1px solid #ccc'}
          = tweet_button url: 'https://twitter.com/hellorelaxation', lang: 'en', text: 'Check out this site', via: 'hellorelaxation'
      %div{style:'clear:both'}
      .span8.offset2
        = text_field_tag :code
        %button.btn.btn-success#apply_code Apply this coupon code
        %button.btn.btn-warning#deny_code Deny this coupon code
      %div{style:'clear:both'}
      %h3 Display all plans here
      %hr
      %h3 Tipsters:
      -# Required variables: tipsters_in_cart -> Array of tipster
      %table.table.table-bordered
        %thead
          %tr
            %th Full Name
            %th Email
            %th Created at
            %td Action
        %tbody
          - if @tipsters_in_cart.blank?
            %tr
              %td
                There are no any tipster found.
              %td
              %td
              %td
          - else
            - @tipsters_in_cart.each do |tipster|
              %tr
                %td
                  = tipster.name
                %td
                  = tipster.email
                %td
                  = tipster.created_at.strftime("%m/%d/%Y")
                %td
                  = form_tag drop_tipster_cart_path do
                    = hidden_field_tag :id, tipster.id
                    = hidden_field_tag :return_url, subscribe_choose_offer_path
                    %button.btn.btn-small.btn-danger{type: :submit} Remove from Cart

      .text-right
        %h4 Total :
        %span#total_price
        %a.btn.btn-success.btn-large{href: subscribe_payment_method_path} Process to Checkout

:javascript
  $(document).ready(function() {
        // In your onload handler add this call
        FB.init({
          appId      : '548927411872156',
          status     : true,
          xfbml      : true
        });
        var make_request_coupon = function(data_request) {
          $.ajax({
           type: 'POST',
           url: '/subscribe/get_coupon_code',
           dataType: 'json',
           data: data_request,
           success: function(response) {
             if(response.success) {
               $('#code').val(response.code);
             } else {
               
             }
           }
         });
        };

        FB.Event.subscribe('edge.create', function(href, html_element) {
           make_request_coupon({
             source:'facebook',
             href: href
           });
        });
        //FB.Event.subscribe('edge.remove', function(href, widget) {
        //   alert('Unliked');
        // });
        //FB.Event.subscribe('message.send', function(response){
        //  alert('commented');
        //});
        FB.getLoginStatus(function(response) {
        console.log(response);
          if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token
            // and signed request each expire
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
          } else if (response.status === 'not_authorized') {
            // the user is logged in to Facebook,
            // but has not authenticated your app
          } else {
             $('.fb-login-button').show();
          }
         });

         twttr.events.bind('tweet', function (event) {
          make_request_coupon({
            source:'twitter'
            });
         });
  });
  $(document).on('click',"#apply_code",function(){
    var coupon_code = $("#code").val();
    $.ajax({
       type: 'POST',
       url: '/subscribe/apply_coupon_code',
       dataType: 'json',
       data: {code: coupon_code},
       beforeSend: function(){},
       success: function(response){
       if(response.success){
         $('#total_price').val(response);
       }
       else{
         console.log(response.message)
       }
       },
       error: function(){
         console.log("AJAX ERROR");
       }
       });
  })
