= javascript_include_tag 'subscribe'
#rootwizard{'data-no-turbolink' => true}
  .navbar
    .navbar-inner
      .container
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", href: "#tab1"} Choose Offer
          %li
            %a{"data-toggle" => "tab", href: "#tab2"} Identification
          %li
            %a{"data-toggle" => "tab", href: "#tab3"}Payment Method
          %li
            %a{"data-toggle" => "tab", href: "#tab4"} Payment
          %li
            %a{"data-toggle" => "tab", href: "#tab5"} Confirmation
  .tab-content
    #tab1.tab-pane.active
      - if @select_plan
        %h3 Your selected plan:
        %ul
          %li
            Name:
            %strong= @select_plan.title
          %li
            Price:
            %strong= "€ #{@select_plan.price}"
        %a{href: pricing_path} Select another plan?
      - unless @select_plan && @select_plan.free?
        %h3 Would you win a bonus? Help us
        .span12
          .span4{style: 'padding: 10px; border: 1px solid #ccc'}
            .fb-login-button{"data-auto-logout-link" => "false", "data-max-rows" => "1",
               "data-show-faces" => "false", "data-size" => "medium", onlogin: 'window.location.reload()', style: 'display:none'}
            = like_button '548927411872156', href: 'https://www.facebook.com/BetAdvisor', layout: :standard, show_faces: true
          .span4{style: 'padding: 10px; border: 1px solid #ccc'}
            = tweet_button url: 'https://twitter.com/hellorelaxation', lang: 'en', text: 'Check out this site', via: 'hellorelaxation'
        %div{style:'clear:both'}
        .span8.offset1#coupon{style: 'display:none'}
          = text_field_tag :code
          %button.btn.btn-success#apply_code Apply Coupon
        .span8.offset1
          #message_return
        - unless @tipsters_in_cart.blank?
          %h3 Tipsters in your cart
          %table.table.table-bordered
            %thead
              %tr
                %th Full Name
                %th Email
                %th Created at
                %td Action
            %tbody
              - @tipsters_in_cart.each do |tipster|
                %tr
                  %td
                    = tipster.name
                  %td
                    = tipster.email
                  %td
                    = tipster.created_at.strftime("%m/%d/%Y")
                  %td
                    = form_tag drop_tipster_cart_path do
                      = hidden_field_tag :id, tipster.id
                      = hidden_field_tag :return_url, subscribe_choose_offer_path
                      %button.btn.btn-small.btn-danger{type: :submit} Remove
        .text-right
          %h4 Total:
          %span#total_price
          %a.btn.btn-success.btn-large{href: subscribe_payment_method_path} Process to Checkout

      - if @select_plan && @select_plan.free?
        %h3 Are you sure want to choose the Free subscription?
        = simple_form_for :nothing, url: '/' do |f|
          %button.btn.btn-success{type: :submit} Yes, I'd like it
          %a.btn.btn-warning{href: pricing_path} No, Let me choose another
