= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@select_plan.free? ? 'four-steps' : ''}"}
      = render 'step_header',step: @step,select_plan: @select_plan
  .row
    .step-content
      .panel.panel-default
        .panel-body
          .selection_info
            %h1.text-center.text-success Review your selection:
            .col-md-3
              %h2.text-center.text-info Plan selected
              .well
                = render 'plan_selected',selected_plan: @select_plan
            .col-md-9
              %h2.text-center.text-info Tipsters selected
              = render 'tipsters_selected',tipsters: @tipsters
            .clearfix
          .payment_info
            .col-lg-12
              .col-lg-4.col-lg-offet-1
                %h2 Amount
                %div{style: 'padding: 10px; border: 1px solid #ccc'}
                  \- Plan price:
                  %strong.text-info= @select_plan.price_in_string
                  %br
                  \- Plan limit number tipster:
                  %strong= @select_plan.number_tipster
                  %br
                  \- Adder tipster price:
                  %strong= @subscription.adder_tipster
                  %br
                  \- Need to paid per month:
                  %strong.text-info €#{@subscription.monthly_price}
                  %br
                  \_______________________
                  - if @subscription.is_one_shoot
                    %br
                    \ * #{@select_plan.period} Month
                    %br
                    \_______________________
                    %br
                  - if session[:using_coupon]
                    %br
                    \- Total before:
                    %strong.text-info= "€#{@subscription.calculator_price}"
                    %br
                    \- Discount:
                    %strong - €3
                  %br
                  \- Total
                  %strong.text-info €#{@subscription.calculator_price}
              .col-lg-8
                %h3 Select your payment method
                %ul.inline
                  %li
                    - if @subscription.is_one_shoot
                      = simple_form_for :nothing,url: subscribe_payment_path,html: {id: 'form-select-payment-period'} do
                        = hidden_field_tag :is_one_shoot,false
                        = submit_tag "Change to monthly payment !",class: "btn btn-info"
                    - else
                      = simple_form_for :nothing,url: subscribe_payment_path,html: {id: 'form-select-payment-period'} do
                        = hidden_field_tag :is_one_shoot,true
                        = submit_tag "Change to one shoot payment !",class: "btn btn-primary"
                  %li
                    = simple_form_for :nothing, url: subscribe_payment_path,html: {id: 'form-select-payment'}, remote: true do |f|
                      .form-group
                        %label.checkbox.text-slim
                          %input#cb-term-and-conditions{type: "checkbox"}>/
                          I agree with terms for sale
                      = hidden_field_tag :method, Payment::BY_PAYPAL
                      = image_submit_tag("paypal-express-checkout-button.png")
                  -#%li
                    = simple_form_for :nothing, url: subscribe_payment_path do |f|
                      = hidden_field_tag :method, Payment::BY_FRENCH_BANK
                      %button.btn.btn-default.btn-lg{type: :submit}
                        %img{src: '/assets/lang_fr_ico.png'}
                        French Bank
                #payment
                %h3