= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@selected_plan.free? ? 'three-steps' : ''}"}
      = render 'step_header',step: @step,selected_plan: @selected_plan
  .row
    .step-content
      .panel.panel-default
        .panel-body
          .selection_info
            %h1.text-center.text-success Review your selection:
            .col-md-3
              %h2.text-center.text-info Plan selected
              .well
                = render 'plan_selected',selected_plan: @selected_plan
            .col-md-9
              %h2.text-center.text-info Tipsters selected
              = render 'tipsters_selected',tipsters: @tipsters
            .clearfix
          .payment_info
            .col-lg-12
              .col-lg-4.col-lg-offet-1
                %h2 Amount
                %div{style: 'padding: 10px; border: 1px solid #ccc'}
                  %table.table.table-bordered
                    %tr
                      %td Plan amount
                      %td= @selected_plan.price_in_string
                    - if @subscription.added_tipster > 0
                      %tr
                        %td Total ddded tipsters
                        %td= @subscription.added_tipster
                      %tr
                        %td Added tipsters amount
                        %td= @subscription.added_price
                    - if @subscription.is_one_shoot
                      %tr
                        %td One shoot amount
                        %td= @subscription.one_shoot_price.to_s + " €/ #{@subscription.plan.period} month"
                    - else
                      %tr
                        %td Monthly amount
                        %td= @subscription.monthly_price.to_s + " €/ month"
                    %tr
                      %td
                        %trong Total
                      %td
                        %trong= @subscription.calculator_price.to_s + " €"
              .col-lg-8
                %h3 Select your payment method
                %ul.inline
                  %li
                    - if @subscription.is_one_shoot
                      = simple_form_for :nothing,url: subscribe_payment_path,html: {id: 'form-select-payment-period'} do
                        = hidden_field_tag :is_one_shoot,false
                        = submit_tag "Change to monthly payment !",class: "btn btn-info"
                    - else
                      = simple_form_for :nothing,url: subscribe_payment_path,html: {id: 'form-select-payment-period'} do
                        = hidden_field_tag :is_one_shoot,true
                        = submit_tag "Change to one shoot payment !",class: "btn btn-primary"
                  %li
                    = simple_form_for :nothing, url: subscribe_payment_path,html: {id: 'form-select-payment'}, remote: true do |f|
                      .form-group
                        %label.checkbox.text-slim
                          %input#cb-term-and-conditions{type: "checkbox"}>/
                          I agree with terms for sale
                      = hidden_field_tag :method, Payment::BY_PAYPAL
                      = image_submit_tag("paypal-express-checkout-button.png")
                #payment
                %h3