= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps
      %ul.steps-container
        %li.complete
          .text-center
            %p
              %span.step-number 1
            %p
              %span.step-name Account
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 2
            %p
              %span.step-name Choose offer
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 3
            %p
              %span.step-name Personal Information
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 4
            %p
              %span.step-name Share on social network

        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 5
            %p
              %span.step-name Receive your tips
        %li.step-seperator-container
          .step-seperator
        %li.current
          .text-center
            %p
              %span.step-number 6
            %p
              %span.step-name Payment
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body
          %h3 Review your selection:
          %p
            You select plan:
            %span
              %strong= @select_plan.title
          %p
            Plan price:
            %span
              %strong= @select_plan.price_in_string + "/month"
          %p
            Plan period:
            %span
              %strong= @select_plan.period.to_s + " month"
          %p
            Total price:
            %span
              %strong= @subscription.calculator_price
          %h3
            List tipsters in your cart:
          %table.table.table-bordered
            %thead
              %tr
                %th Tipster name
                %th Total tips
                %th Profit
                %th Yeild
            %tbody
              - if @tipsters.empty?
                %tr
                  %td{colspan: '4'} Your cart is empty !
              - else
                - @tipsters.each do |tipster|
                  %tr
                    %td
                      = tipster.full_name
                    %td
                      = tipster.tips.count
                    %td
                      = tipster.profit
                    %td
                      = tipster.yield
        .tab-content
          .row
            .col-lg-12
              .col-lg-4.col-lg-offet-1
                %h2 Amount
                %div{style: 'padding: 10px; border: 1px solid #ccc'}
                  \- Plan price:
                  %strong.text-info= @select_plan.price_in_string
                  %br
                  \- Plan limit number tipster:
                  %strong= @select_plan.number_tipster
                  %br
                  \- Adder tipster price:
                  %strong= @subscription.adder_tipster
                  %br
                  \- Need to paid per month:
                  %strong.text-info €#{@subscription.monthly_price}
                  %br
                  \_______________________
                  %br
                  \ * #{@select_plan.period} Month
                  %br
                  \_______________________
                  %br
                  - if session[:using_coupon]
                    \- Total before:
                    %strong.text-info= "€#{@subscription.calculator_price}"
                    %br
                    \- Discount:
                    %strong - €3
                    %br
                  \- Total
                  %strong.text-info €#{@subscription.calculator_price}
              .col-lg-8
                %h3 Select your payment method
                %ul.inline
                  %li
                    = simple_form_for :nothing, url: subscribe_payment_path,html: {id: 'form-select-payment'}, remote: true do |f|
                      .form-group
                        %label.checkbox.text-slim
                          %input#cb-term-and-conditions{type: "checkbox"}>/
                          I agree with terms for sale
                      = hidden_field_tag :method, Payment::BY_PAYPAL
                      = image_submit_tag("paypal-express-checkout-button.png")
                  %li
                    = simple_form_for :nothing, url: subscribe_payment_path do |f|
                      = hidden_field_tag :method, Payment::BY_FRENCH_BANK
                      %button.btn.btn-default.btn-lg{type: :submit}
                        %img{src: '/assets/lang_fr_ico.png'}
                        French Bank
                #payment