#rootwizard{'data-no-turbolink' => true}
  .navbar
    .navbar-inner
      .container
        %ul.nav.nav-pills
          %li
            %a{href: subscribe_choose_offer_path} Choose Offer
          -# TODO, bad code -> query DB here
          -# unless current_user && current_user.profile
          %li
            %a{"data-toggle" => "tab", href: "#tab2"} Identification
          %li
            %a{ href: subscribe_payment_method_path} Payment Method
          %li.active
            %a{"data-toggle" => "tab", href: "#tab4"} Payment
          %li
            %a{"data-toggle" => "tab", href: "#tab5"} Confirmation
  .tab-content
    #tab4.tab-pane.active
      .span8
        %h3 Please review your selection
        %h4
          Plan:
          %span.text-info= @select_plan.title
        %h4 Tipsters:
        .span6
          %table.table.table-bordered
            %thead
              %tr
                %th Full Name
                %th Sport
                %th Yield
                %th Profil
            %tbody
              - @select_tipsters.each do |tipster|
                %tr
                  %td= tipster.name
                  %td= ['Football','Hourse', 'Tennis', 'Baseball'].sample
                  %td= "#{['12.15','20.14','10.3'].sample} %"
                  %td= "+ #{(1000..5000).to_a.sample}"
      .span4
      - if !@already_has_subscription
        %h3 Amount
        \- Plan price:
        %strong €#{@select_plan.price}
        %br
        \- Adder tipster price:
        %strong €#{@select_tipsters.size > @select_plan.number_tipster ? (@select_tipsters.size - @select_plan.number_tipster) * ADDING_TIPSTER_PRICE : 0}
        %br
        \- Discount:
        %strong €#{@discount.to_i}
        %br
        \- Subtotal:
        %strong €#{(@amount / @select_plan.period).round(3)}
        %br
        \_______________________
        %br
        \ *#{@select_plan.period} Month
        %br
        \_______________________
        %br
        \- Total:
        %strong.text-info= "€#{@amount.round(3)}"
      - else
        %h3 Amount
        \- Number tipster on your current subscription:
        %strong #{@current_subscription.tipsters.size}
        %br
        \- Number tipster on cart:
        %strong= @select_tipsters.size
        %br
        \- Need to paid:
        %strong €#{@adding_tipster * ADDING_TIPSTER_PRICE}
        %br
        \_______________________
        %br
        \ *#{@select_plan.period} Month
        %br
        \_______________________
        %br
        \- Total:
        %strong.text-info= "€#{@amount.round(3)}"

        - payment_service_for  @pp_object[:item_number], PAYPAL_ACCOUNT, :amount => @pp_object[:amount],
             :currency => @pp_object[:currency], :service => :paypal, :html => {:class=>"form-paypal"} do |service|
        - service.tax "0.00"
        - service.item_name @pp_object[:item_name]
        - service.item_number @pp_object[:item_number]
        - service.notify_url notify_payment_url
        - service.return_url subscribe_success_url
        - service.cancel_return_url cancel_payment_url
        - hidden_field_tag :user_id, @pp_object[:user_id]
          = image_submit_tag('/assets/paypal-express-checkout-button.png', alt:'Make Payment with Paypal')