= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@selected_plan.free? ? 'three-steps' : ''}"}
      = render 'step_header',step: @step,selected_plan: @selected_plan
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body
          .row
            .col-md-8.col-md-offset-2
              %h3 Follow us now, you’ll get a discount of 3 €
          .row
            .col-md-4.col-md-offset-1{style: 'padding: 10px; border: 1px solid #ccc; height: 90px'}
              .fb-login-button{"data-auto-logout-link" => "false", "data-max-rows" => "1",
                  "data-show-faces" => "false", "data-size" => "medium", onlogin: 'window.location.reload()', style: 'display:none'}
              = like_button '548927411872156', href: 'https://www.facebook.com/thanhquang1988', layout: :standard, show_faces: true
            .col-md-4.col-md-offset-1{style: 'padding: 10px; border: 1px solid #ccc; height: 90px'}
              = tweet_button url: 'https://twitter.com/tipsterhero', lang: 'en', text: 'Check out this site', via: 'tipsterhero'
          .text-center
            %br
            - if @selected_plan.free?
              %a.btn.btn-success{href: subscribe_welcome_path} Next >>
            - else
              %a.btn.btn-success{href: subscribe_receive_methods_path} Next >>