.container
  %h2 My tips
  .panel.panel-default
    .panel-header{style: 'padding: 5px;'}
      / Nav tabs
      %ul.nav.nav-tabs
        %li{class: class_for_sport_filter('all')}
          %a{"data-toggle" => "tab", href: "#all", data: {url: tips_path(sport_filter_param('all'))}}= 'All'
        - @sports.each do |sport|
          %li{class: class_for_sport_filter(sport.name)}
            %a{"data-toggle" => "tab", href: "##{sport.name}", data: {url: tips_path(sport_filter_param(sport.name))}}= sport.name.titleize
    .panel-body
      / Tab panes
      .tab-content
        #all.tab-pane.active
          %table.table.table-bordered.table-hover.bgw
            %thead
              %tr
                %th Event
                %th Odds
                %th Tipster
                %th Sport
                %th Published at
                %th Profit
                %th Result
            %tbody
              - @tips.each do |tip|
                %tr
                  %td.text-info
                    %a{href: tip_path(tip)}= tip.event
                  %td= tip.odds
                  %td
                    %a.text-warning{href: tipster_path(tip.author)}= tip.author.full_name
                  %td= tip.sport.name.titleize
                  %td= tip.created_at
                  %td
                    - if tip.correct?
                      %span.text-success
                        \+
                        = tip.amount
                    - else
                      %span.text-danger
                        \-
                        = tip.amount
                  %td
                    - if tip.correct?
                      %span.text-success
                        &#x2714;
                    - else
                      %span.text-danger
                        &#x2718;
        - @sports.each do |sport|
          %div.tab-pane{id: sport.name, class: class_for_current_sport(sport.name)}
            = sport.name

