-# Trick for preload image
= image_tag 'circle_loading.gif', class: 'hide'
.row
  .mam
    %h3 Select your match or event
    %hr
    .clearfix
      = simple_form_for :nothing, url: filter_matches_backoffice_tips_path, html: {id: 'form-advanced-search', class: 'form-horizontal'} do |f|
        = hidden_field_tag :mode, 'manual'
        .col-lg-3
          .form-group
            %label.control-label.col-sm-3
              Sport
            .col-sm-7
              = select_tag :sport, options_for_select(sport_filter_for_select(@tipster_sports)), class: 'select2able', 'data-no-search' => true
        .col-lg-3
          - max_date = 7.days.from_now.to_date.to_s
          - min_date = Date.today.to_s
          .form-group
            %label.control-label.col-sm-3 Date
            .col-sm-7
              %input.text-center.date-picker.limited{type: :text, name: 'date', 'data-max-date' => max_date, 'data-min-date' => min_date}
        .col-lg-3
          .form-group
            .col-sm-3
              %strong Search:
            .col-sm-7
              %input{type: :text, placeholder: 'match or event ...', name: :search}
    .clearfix
      #available-matches-wrapper
        = render 'available_matches_list', matches: @matches, group_by: 'date', mode: 'manual'
