%h2 My tips
.panel.panel-default
  .panel-body
    .mam
      .col-lg-12
        .col-lg-3
          %label.lb-inline-filter.col-md-3 Sport:
          .col-md-9
            = select_tag :sport, options_for_select(tip_sport_filter_for_select(backoffice_my_tips_path,@tipster_sports)),
                class: 'select-as-links select2able', 'data-no-search' => true
        .col-lg-4
          %label.lb-inline-filter.col-md-3  Status:
          .col-md-9
            = select_tag :status, options_for_select(tip_statuses_filter_for_select(backoffice_my_tips_path)),
                class: 'select-as-links select2able', 'data-no-search' => true
        .col-lg-2.input-group
          %input.input-sm.form-control{type: :text, name: :search, placeholder: 'search by match'}
            %span.input-group-btn
              %button.btn.btn-default.btn-sm
                %i.fa.fa-search
      .clearfix
      %hr
      .text-center
        %ul.list-inline.list-unstyled.mbn.dates-list
          %li
            %a{href: backoffice_my_tips_path(date_filter_param(nil)), class: class_for_date_filter('today')}
              Today
          - date_range_filter_for_tips.each do |date|
            %li
              %a{href: backoffice_my_tips_path(date_filter_param(date[:value])), class: class_for_date_filter(date[:value])}
                = date[:label]
    / Tab panes
    %table.table.table-bordered.table-hover.bgw
      %thead
        %tr
          %th Match
          %th Odds
          %th Sport
          %th Type of bet
          %th Selection
          %th Created at
          %th Profit
          %th Result
      %tbody
        - @tips.each do |tip|
          %tr
            %td.text-info
              %a{href: backoffice_tip_path(tip)}= tip.match.name
            %td= tip.odds
            %td= tip.sport.name.titleize
            %td= tip.bet_type.try :name
            %td= tip.selection
            %td= tip.created_at
            %td
              - if tip.published?
                - if tip.correct?
                  %span.text-success
                    \+
                    = tip.profit
                - else
                  %span.text-danger
                    \-
                    = tip.amount
              - else
                \---
            %td
              - if tip.published?
                - if tip.correct?
                  %span.text-success
                    &#x2714;
                - else
                  %span.text-danger
                    &#x2718;
              - else
                \---
    - if @tips.empty?
      .text-center.text-danger
        Not found any
        %strong= current_sport_param.try(:capitalize)
        tips on
        %strong= current_date_param


