.container
  %h2 My tips
  .panel.panel-default
    .panel-header
      .mam
        / Nav tabs
        %ul.sports-filter.list-inline.list-unstyled.mbn
          %li
            %a.btn.btn-default{href: backoffice_my_tips_path(sport_filter_param(nil)), class: class_for_sport_filter('all')}
              All sports
          - @sports.each do |sport|
            %li
              %a.btn.btn-default{href: backoffice_my_tips_path(sport_filter_param(sport.name.downcase)), class: class_for_sport_filter(sport.name)}
                = sport.name.titleize
        %hr
        .text-center
          %ul.list-inline.list-unstyled.mbn.dates-list
            %li
              %a{href: backoffice_my_tips_path(date_filter_param(nil)), class: class_for_date_filter('today')}
                Today
            - date_range_filter_for_tips.each do |date|
              %li
                %a{href: backoffice_my_tips_path(date_filter_param(date[:value])), class: class_for_date_filter(date[:value])}
                  = date[:label]
    .panel-body
      / Tab panes
      %table.table.table-bordered.table-hover.bgw
        %thead
          %tr
            %th Match
            %th Odds
            %th Sport
            %th Type of bet
            %th Selection
            %th Created at
            %th Profit
            %th Result
        %tbody
          - @tips.each do |tip|
            %tr
              %td.text-info
                %a{href: backoffice_tip_path(tip)}= tip.match.name
              %td= tip.odds
              %td= tip.sport.name.titleize
              %td= tip.bet_type.try :name
              %td= tip.selection
              %td= tip.created_at
              %td
                - if tip.published?
                  - if tip.correct?
                    %span.text-success
                      \+
                      = tip.profit
                  - else
                    %span.text-danger
                      \-
                      = tip.amount
                - else
                  \---
              %td
                - if tip.published?
                  - if tip.correct?
                    %span.text-success
                      &#x2714;
                  - else
                    %span.text-danger
                      &#x2718;
                - else
                  \---
      - if @tips.empty?
        .text-center.text-danger
          Not found any
          %strong= current_sport_param.try(:capitalize)
          tips on
          %strong= current_date_param


