.row
  .clearfix.mam.bgw
    .text-center
      %h3 Please complete information for the tip:
    = simple_form_for @tip, url: backoffice_tips_path, html: {class: 'form-horizontal', id: 'form-new-tip'} do |f|
      = f.input_field :match_id, as: :hidden
      = f.input_field :sport_id, as: :hidden
      .form-group
        %label.col-md-4.control-label
          Match:
        .col-md-7
          .form-control
            = @tip.match.name
      = f.input :platform_id, as: :select, collection: platforms_for_select(@platforms),
            include_blank: '-- Choose one --', input_html: {class: 'select2able', 'data-no-search' => true}
      = f.association :bet_type, collection: bet_types_for_select(@bet_types),
            include_blank: '-- Choose one --', input_html: {class: 'select2able', 'data-no-search' => true, id: 'bet-types-select-for-tip'}
      = f.input :line, wrapper_html: {id: 'line-for-tip', class: "#{'hide' unless @tip.bet_type.try(:has_line?) }"}
      = f.input :selection
      = f.input :odds
      = f.input :amount
      = f.input :advice
      .form-group
        .col-sm-offset-4.col-sm-7
          %button.btn.btn-primary{type: :submit} Submit
          %a.btn.btn-default{href: backoffice_my_tips_path } Cancel



