- @match = @tip.match
.panel.panel-default.tip-details-panel
  .panel-heading
    %h3.panel-title.match-name
      %i{class: class_for_sport_icon(@tip.sport_code)}
      = @match.name
      - if @tip.resubmitable?
        %a.btn.btn-default.btn-sm.text-warning{href: '#'} Edit
  .panel-body
    .col-lg-6
      %table.tip-details-table
        %tr
          %td.text-bold Created at:
          %td
            %span= @tip.created_at.strftime(t('time.formats.date_with_time'))
        %tr
          %td.text-bold
            Sport:
          %td
            %span= @tip.sport_name
        %tr
          %td.text-bold
            Competition:
          %td
            %span= @match.try :competition_name
        %tr
          %td.text-bold
            Type of bet:
          %td
            %span= @tip.bet_type_name
        %tr
          %td.text-bold Selection:
          %td
            %span= @tip.selection
        %tr
          %td.text-bold Odds:
          %td
            %span
              = @tip.odds
              = "(#{@tip.bookmarker_code.try(:titleize)})"
        %tr
          %td.text-bold Amount:
          %td
            %span= @tip.amount
        %tr
          %td.text-bold Status:
          %td
            %span.text-bold{class: class_for_tip_status(@tip.status)}= @tip.status_in_string
    .clearfix
      - if @tip.finished?
        %h4
          Tip result:
          - if @tip.correct?
            %span.text-success.text-bold
              = t('tip.result.win')
              = "(#{profit_in_string(@tip.profit,true)})"
          - else
            %span.text-danger.text-bold
              = t('tip.result.lose')
              = "(#{profit_in_string(@tip.profit,true)})"
