%h2.text-info
  = image_tag @tip.sport.icon_path
  = @tip.match.try(:name) || @tip.event
-#.form-horizontal
-#  .form-group
-#    %label.control-label.col-sm-4
-#      Created at:
-#    .col-sm-7
-#      .form-control
-#        = @tip.created_at

%ul
  %li
    Created at:
    = @tip.created_at
  %li
    Odds:
    = @tip.odds
  %li
    Type of bet:
    = @tip.bet_type.try(:name)
  %li
    Selection:
    = @tip.selection
