= content_for(:title, 'Cart')
.container
  %table.table.table-bordered
    %thead
      %tr
        %th Full Name
        %th Email
        %th Created at
        %td Action
    %tbody
      - if @tipsters.nil?
        %p There are no any tipster found.
      - else
        - @tipsters.each do |tipster|
          %tr
            %td
              = tipster.full_name
            %td
              = tipster.email
            %td
              = tipster.created_at.strftime("%m/%d/%Y")
            %td
              = render 'shared/remove_from_cart_form', tipster_id: tipster.id
  .text-center
    %a.btn.btn-success.btn-large{href: tipsters_path} + Add more tipster
    %a.btn.btn-primary.btn-large{href: subscribe_choose_offer_path} Proceed to checkout
