- content_for :title do
  Registration
// Sign up form
#sign-up-bg.tipster-form-bg
  #sign-up-board.tipster-form-board
    .tipster-form-board-sp
      .container.pts.pbs
        %h4.text-uppercase Become Tipster Today and get Free trial !
    .container.ptm.pbm
      Start with free account really easy now.
      %br
      Just complete form below and you become member of Tipster Hero !
  #sign-up-form.tipster-form
    .tipster-form-top
    .tipster-form-mid.clearfix
      = simple_form_for resource, :url => registration_path(resource_name), html: {class: 'form-horizontal mbn form-register', novalidate: true} do |f|
        = f.simple_fields_for resource.rolable do |fl|
          .form-group
            = fl.label :first_name, required: false
            .col-md-7
              = fl.input_field :first_name, autofocus: true
              = fl.error :first_name, class: :hidden
          .form-group
            = fl.label :last_name, required: false
            .col-md-7
              = fl.input_field :last_name
              = fl.error :last_name, class: :hidden
        .form-group
          = f.label :email, label: 'Your email', required: false
          .col-md-7
            = f.input_field :email, required: false
            = f.error :email, class: :hidden
        .form-group
          = f.label :password, label: 'Choose password', required: false
          .col-md-7
            = f.input_field :password, :required => true
            = f.error :password, class: :hidden
        .form-group
          = f.label :password_confirmation, label: 'Re-type password ', required: false
          .col-md-7
            = f.input_field :password_confirmation, required: false
            = f.error :password_confirmation, class: :hidden
        .form-group
          .col-md-7.col-md-offset-4
            %button.btn.btn-success{type: :submit}
              %i.typcn.typcn-world.mrs
              Create Account
            %a.mls.text-xs{href: new_account_password_path} Recovery Account
            %label.checkbox.text-slim
              %input#cb-term-and-conditions{type: :checkbox, checked: request.post?} I agree with term & conditions
    .tipster-form-bot

