.background-granite
  .container
    #sub-page-navi.text-success
      %ol.breadcrumb.mbn.bgtrans.font-i
        %li
          %a.text-success
            %i.fa.fa-home
            Home
        %li
          %a.text-success
            Tipsters
        %li
          %a.text-success
            = tipster.full_name.titleize
#page_header_mid.fixed-bg
  #sub-page-header
    .container.clearfix
      .tipsterdetail-head
        .row
          .avatar-tipster
            = image_tag (tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
          .pull-right
            = select_tag :ranking, options_for_select(ranking_ranges_for_select), class: 'select-as-links statistics-range'
    .bgtest
      .row
        .col-lg-9.col-lg-offset-3
          .common-tipster-info
            .col-md-3
              %h4= tipster.first_name.upcase
              %span.value= tipster.last_name
            .col-md-2
              %h4 RANK
              %span.value 1
            .col-md-2
              %h4 AVG.YIED
              %span.value 21.5%
            .col-md-2
              %h4 AVG.PROFIT
              %span.value 129.90 $
            .col-md-3
