-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  = render 'profile_header', tipster: @tipster
  = render 'tipster_profile_subpage_links', tipster: @tipster
#profile-overiew-page
  .container
    .panel.panel-default
      .panel-body
        %h3.tipster-profile-subpage-header.black-bg Details Statistics
        .row
          .col-lg-7
            %table.table.table-bordered.table-striped
              %thead
                %tr.warning
                  %td.text-center{'colspan' => 6 }
                    %i.text-bold Monthly statistics
                = render 'header_statistics_table'
              %tbody
                - if @tipster.monthly_statistics
                  - @tipster.monthly_statistics.each do |month_statistics|
                    - unless month_statistics[:number_of_tips].zero?
                      %tr
                        %td= month_statistics[:name]
                        %td= profit_in_string month_statistics[:profit]
                        %td= yield_in_string month_statistics[:yield]
                        %td= hit_rate_in_string month_statistics[:hit_rate]
                        %td= month_statistics[:avg_odds]
                        %td= month_statistics[:number_of_tips]
          .col-lg-5
            #monthly-chart-container
            = render_chart @tipster.monthly_chart, 'monthly-chart-container' if @tipster.monthly_chart
        %hr
        -# ========================================== Sports
        .row
          .col-lg-7
            %table.table.table-bordered.table-striped
              %thead
                %tr.warning
                  %td.text-center{'colspan' => 6 }
                    %i.text-bold Sports
                = render 'header_statistics_table'
              %tbody
                - if @tipster.sports_statistics
                  - @tipster.sports_statistics.each do |sport_statistics|
                    - unless sport_statistics[:number_of_tips].zero?
                      %tr
                        %td
                          %i{class: class_for_sport_icon(sport_statistics[:sport_code])}
                          = sport_statistics[:sport_name]
                        %td= profit_in_string sport_statistics[:profit]
                        %td= yield_in_string sport_statistics[:yield]
                        %td= hit_rate_in_string sport_statistics[:hit_rate]
                        %td= sport_statistics[:avg_odds]
                        %td= sport_statistics[:number_of_tips]
          .col-lg-5
            #sports-chart-container
            = render_chart @tipster.sports_chart, 'sports-chart-container' if @tipster.sports_chart
            -#= high_chart("sports-chart-container", @tipster.sports_chart) do |chart|
            -#  = "options.plotOptions.pie.dataLabels.distance = 3"
            -#  = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        -#========================================== Countries/ Competitions
        %hr
        .row
          .col-lg-7
            %table.table.table-bordered.table-striped
              %thead
                %tr.warning
                  %td.text-center{'colspan' => 6 }
                    %i.text-bold Countries - Competitions
                = render 'header_statistics_table'
              %tbody
                - if @tipster.areas_statistics
                  - @tipster.areas_statistics.each do |area_statistics|
                    - unless area_statistics[:number_of_tips].zero?
                      %tr.tr-area-statistics{'data-area-id' => area_statistics[:area_id]}
                        %td
                          %img.flag{class: flag_class_for_area_id(area_statistics[:area_id])}
                          = area_statistics[:area_name]
                        %td= profit_in_string area_statistics[:profit]
                        %td= yield_in_string area_statistics[:yield]
                        %td= hit_rate_in_string area_statistics[:hit_rate]
                        %td= area_statistics[:avg_odds]
                        %td= area_statistics[:number_of_tips]
                      - area_statistics[:competitions].each do |competition_statistics|
                        - competition_statistics = competition_statistics.symbolize_keys
                        %tr{style: 'display:none', class: "competitions-area-#{area_statistics[:area_id]}"}
                          %td= competition_statistics[:competition_name]
                          %td= profit_in_string competition_statistics[:profit]
                          %td= yield_in_string competition_statistics[:yield]
                          %td= hit_rate_in_string competition_statistics[:hit_rate]
                          %td= competition_statistics[:avg_odds]
                          %td= competition_statistics[:number_of_tips]


          .col-lg-5
            #countries-chart-container
            = render_chart @tipster.areas_chart, 'countries-chart-container' if @tipster.areas_chart
        -# ========================================== Bet types
        %hr
        .row
          .col-lg-7
            %table.table.table-bordered.table-striped
              %thead
                %tr.warning
                  %td.text-center{'colspan' => 6 }
                    %i.text-bold Type of bets
                = render 'header_statistics_table'
              %tbody
                - if @tipster.bet_types_statistics
                  - @tipster.bet_types_statistics.each do |bet_type_statistics|
                    - unless bet_type_statistics[:number_of_tips].zero?
                      %tr
                        %td
                          = bet_type_statistics[:bet_type_name]
                          = "(#{bet_type_statistics[:sport_name]})"
                        %td= profit_in_string bet_type_statistics[:profit]
                        %td= yield_in_string bet_type_statistics[:yield]
                        %td= hit_rate_in_string bet_type_statistics[:hit_rate]
                        %td= bet_type_statistics[:avg_odds]
                        %td= bet_type_statistics[:number_of_tips]
          .col-lg-5
            #bet-types-chart-container
            = render_chart @tipster.bet_types_chart, 'bet-types-chart-container' if @tipster.bet_types_chart
            -#= high_chart("bet-type-chart-container", @tipster.bet_types_chart) do |chart|
              = "options.plotOptions.pie.dataLabels.distance = 3"
              = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        %hr
        -# ========================================== Odds
        .row
          .col-lg-7
            %table.table.table-bordered.table-striped
              %thead
                %tr.warning
                  %td.text-center{'colspan' => 6 }
                    %i.text-bold Odds
                = render 'header_statistics_table'
              %tbody
                - if @tipster.odds_statistics
                  - @tipster.odds_statistics.each do |odds_statistics|
                    - unless odds_statistics[:number_of_tips].zero?
                      %tr
                        %td
                          = odds_statistics[:range_name]
                        %td= profit_in_string odds_statistics[:profit]
                        %td= yield_in_string odds_statistics[:yield]
                        %td= hit_rate_in_string odds_statistics[:hit_rate]
                        %td= odds_statistics[:avg_odds]
                        %td= odds_statistics[:number_of_tips]
          .col-lg-5
            #odds-chart-container
            = render_chart @tipster.odds_chart, 'odds-chart-container' if @tipster.odds_chart
            -#= high_chart("odds-chart-container", @tipster.odds_chart) do |chart|
              = "options.plotOptions.pie.dataLabels.distance = 3"
              = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        -#%h3 Countries - Competitions