-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  .background-granite
    .container
      #sub-page-navi.text-success
        %ol.breadcrumb.mbn
          %li
            %a.text-success
              %i.fa.fa-home
              Home
          %li
            %a.text-success
              Tipsters
          %li
            %a.text-success
              = @tipster.full_name.titleize
  #page_header_mid.fixed-bg
    #sub-page-header
      .container.clearfix
        .tipsterdetail-head
          .row
            .avatar-tipster
              = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
      .bgtest
        .row
          .col-lg-9.col-lg-offset-3
            .common-tipster-info
              .col-md-3
                %h4= @tipster.first_name.upcase
                %span.value= @tipster.last_name
              .col-md-2
                %h4 RANK
                %span.value 1
              .col-md-2
                %h4 AVG.YIED
                %span.value 21.5%
              .col-md-2
                %h4 AVG.PROFIT
                %span.value 129.90 $
              .col-md-3
                = select_tag :ranking, options_for_select(ranking_ranges_for_select), class: 'select-as-links statistics-range mam'
  .tipters-menu-quicklink
    .container
      .row
        .col-md-9.col-md-offset-3.pts
          %ul.list-inline
            %li
              %a{href: tipster_path(@tipster)}
                %i General statistics
            %li -
            %li
              %a{href: detail_statistics_tipster_path(@tipster)}
                %i Details statistics
            %li -
            %li
              %a{href: last_tips_tipster_path(@tipster)}
                %i Last tips
            %li -
            %li
              %a{href: description_tipster_path(@tipster)}
                %i Tipster's description
#profile-overiew-page
  .container
    .panel.panel-default
      .panel-body
        %h3.text-warning Monthly statistics
        .row
          .col-lg-9
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th Month
                  %th Profit
                  %th Yield
                  %th Hit rate
                  %th Avg odds
                  %th
                    = ("N" + content_tag(:sup, 'o')).html_safe
                    of tips
              %tbody
                - @tipster.monthly_statistics.each do |month_statistics|
                  - unless month_statistics[:number_of_tips].zero?
                    %tr
                      %td= month_statistics[:name]
                      %td= profit_in_string month_statistics[:profit]
                      %td= yield_in_string month_statistics[:yield]
                      %td= hit_rate_in_string month_statistics[:hit_rate]
                      %td= month_statistics[:avg_odds]
                      %td= month_statistics[:number_of_tips]
              .col-lg-3
        %hr
        -# ========================================== Sports
        %h3.text-warning Sports
        .row
          .col-lg-8
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th Sport
                  %th Profit
                  %th Yield
                  %th Hit rate
                  %th Avg odds
                  %th
                    = ("N" + content_tag(:sup, 'o')).html_safe
                    of tips
              %tbody
                - @tipster.sports_statistics.each do |sport_statistics|
                  - unless sport_statistics[:number_of_tips].zero?
                    %tr
                      %td= sport_statistics[:sport_name]
                      %td= profit_in_string sport_statistics[:profit]
                      %td= yield_in_string sport_statistics[:yield]
                      %td= hit_rate_in_string sport_statistics[:hit_rate]
                      %td= sport_statistics[:avg_odds]
                      %td= sport_statistics[:number_of_tips]
          .col-lg-4
            = high_chart("sports-chart-container", @tipster.sports_chart) do |chart|
              = "options.plotOptions.pie.dataLabels.distance = 3"
              = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        %h3.text-warning Type of bets statistics
        -# ========================================== Bet types
        .row
          .col-lg-8
            .statistic-table-container
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Bet Type
                    %th Profit
                    %th Yield
                    %th Hit rate
                    %th Avg odds
                    %th
                      = ("N" + content_tag(:sup, 'o')).html_safe
                      of tips
                %tbody
                  - @tipster.bet_types_statistics.each do |bet_type_statistics|
                    - unless bet_type_statistics[:number_of_tips].zero?
                      %tr
                        %td
                          = bet_type_statistics[:bet_type_name]
                          = "(#{bet_type_statistics[:sport_name]})"
                        %td= profit_in_string bet_type_statistics[:profit]
                        %td= yield_in_string bet_type_statistics[:yield]
                        %td= hit_rate_in_string bet_type_statistics[:hit_rate]
                        %td= bet_type_statistics[:avg_odds]
                        %td= bet_type_statistics[:number_of_tips]
          .col-lg-4
            = high_chart("bet-type-chart-container", @tipster.bet_types_chart) do |chart|
              = "options.plotOptions.pie.dataLabels.distance = 3"
              = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        %h3.text-warning Odds statistics:

        -# ========================================== Odds
        .row
          .col-lg-8
            .statistic-table-container
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Odds
                    %th Profit
                    %th Yield
                    %th Hit rate
                    %th Avg odds
                    %th
                      = ("N" + content_tag(:sup, 'o')).html_safe
                      of tips
                %tbody
                  - @tipster.odds_statistics.each do |odds_statistics|
                    - unless odds_statistics[:number_of_tips].zero?
                      %tr
                        %td
                          = odds_statistics[:range_name]
                        %td= profit_in_string odds_statistics[:profit]
                        %td= yield_in_string odds_statistics[:yield]
                        %td= hit_rate_in_string odds_statistics[:hit_rate]
                        %td= odds_statistics[:avg_odds]
                        %td= odds_statistics[:number_of_tips]
          .col-lg-4
            = high_chart("odds-chart-container", @tipster.odds_chart) do |chart|
              = "options.plotOptions.pie.dataLabels.distance = 3"
              = "options.tooltip.formatter = function () {return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';}".html_safe
        -#%h3 Countries - Competitions