.center-block
  %ul.sports-filter
    %li
      %a.btn.btn-default{href: tipsters_path(sport_filter_param(nil)), class: class_for_sport_filter('all')} All sports
    - @sports.each do |sport|
      %li
        %a.btn.btn-default{href: tipsters_path(sport_filter_param(sport.name.downcase)), class: class_for_sport_filter(sport.name)}= sport.name.titleize
    %li
      = select_tag :status, options_for_select(tipster_statuses_for_select), id: 'tipster_statuses_filer'
.center-block
  - unless tipster_ids_in_cart.empty?
    - if @tipster_in_subscription.present?
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_add_offer_path,'data-no-turbolink' => true} Proceed to checkout
    - else
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_choose_offer_path,'data-no-turbolink' => true} Proceed to checkout
%table.table.table-bordered
  %thead
    %tr
      %th Full Name
      %th Yield
      %th Profil
      %th Number of tips
      %th Joined at
      %td Action
  %tbody
    - if @tipsters.empty?
      %tr
        %td
          There are no any tipster found.
        %td
        %td
        %td
    - else
      - @tipsters.each do |tipster|
        %tr[tipster]
          %td= tipster.name
          %td= "#{['12.15','20.14','10.3'].sample} %"
          %td= "+ #{(1000..5000).to_a.sample}"
          %td= "#{(50..200).to_a.sample}"
          %td= tipster.created_at.strftime("%m/%d/%Y")
          %td
            - if @tipster_in_subscription.present? && @tipster_in_subscription.include?(tipster)
              %label.label Already purchase
            - else
              - if tipster_ids_in_cart.include? tipster.id.to_s
                = form_tag drop_tipster_cart_path do
                  = hidden_field_tag :id, tipster.id
                  = hidden_field_tag :return_url, top_tipsters_url
                  %button.btn.btn-danger{type: :submit} Remove from cart
              - else
                = form_tag add_tipster_cart_path do
                  = hidden_field_tag :id, tipster.id
                  %button.btn.btn-success{type: :submit} Add to cart
.center-block
  - unless tipster_ids_in_cart.empty?
    - if @tipster_in_subscription.present?
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_add_offer_path,'data-no-turbolink' => true} Proceed to checkout
    - else
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_choose_offer_path,'data-no-turbolink' => true} Proceed to checkout
