= content_for(:title, "Tipster listing")
.container
  .center-block
    %ul.sports-filter
      %li
        %a.btn.btn-default{href: tipsters_path(sport_filter_param(nil)), class: class_for_sport_filter('all')} All sports
      - @sports.each do |sport|
        %li
          %a.btn.btn-default{href: tipsters_path(sport_filter_param(sport.name.downcase)), class: class_for_sport_filter(sport.name)}= sport.name.titleize
      %li
        = select_tag :status, options_for_select(tipster_statuses_for_select), id: 'tipster_statuses_filer'
.tipster-list
  .tipster-list-inner.container
    .tipster-list-table
      %table(class="table table-hover" )
        %thead
          %tr
            %th Tipster
            %th Profit
            %th Yield
            %th NO of tip
            %th Hit Rate
            %th Avg.Odds
            %th Profitable Months
            %th 1 month
        %tbody
          - @tipsters.each_with_index do |tipster,index|
            %tr
              %td
                %a{href: tipster_path(tipster)}
                  = tipster.full_name
                .tipster-profit-chart
                  = image_tag profit_img_chart_url_for(tipster.profit_per_months)
              %td= tipster.profit
              %td= tipster.yield
              %td= tipster.tips_count
              %td= tipster.win_rate || '25%'
              %td= tipster.tips_count
              %td= tipster.avg_odds
              %td= tipster.profitable_months
              %td.text-right
                %span(class="mrs text-left" ) €9.9
                %div(class="btn-group btn-group-sm" )
                  - if @tipster_in_subscription.present? && @tipster_in_subscription.include?(tipster)
                    .btn.btn-default Already purchase
                  - else
                    - if tipster_ids_in_cart.include? tipster.id.to_s
                      = render 'shared/remove_from_cart_form', tipster_id: tipster.id, return_url: tipsters_url
                    - else
                      = render 'shared/add_to_cart_form', tipster_id: tipster.id
                    .btn.btn-default Detail
  - if @show_checkout_dialog && !tipster_ids_in_cart.empty?
    #modal-confirm-checkout.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4.modal-title The tipster has been added to your cart
          .modal-body
            .text-center.text-info
              Do you want to choose an another tipster for only?
              = "€9,90"
              %button.btn.btn-success.btn-large{"data-dismiss" => "modal", type: "button"} + Add more tipster
          .modal-footer
            .text-center
              %a.btn.btn-primary{href: subscribe_choose_offer_path} Process to checkout