-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  = render 'profile_header', tipster: @tipster
  = render 'tipster_profile_subpage_links', tipster: @tipster
#profile-overiew-page
  .container
    #profile-overview-detail
      .panel.panel-default
        .panel-body
          %h3.tipster-profile-subpage-header.black-bg Last Tips
          .clearfix
          .tipster-list#tipster_list
            .tipster-list-inner.container.for-last-tip
              .tipster-list-line1
                %ul.list-inline
                  %li
                    %a{href: last_tips_tipster_path(sport_filter_param(nil)), class: class_for_sport_filter('all')} All
                  - @tipster_sports.each do |sport|
                    %li
                      %a{href: last_tips_tipster_path(sport_filter_param(sport.code)), class: class_for_sport_filter(sport.code)}= sport.name.titleize
              .tipster-list-line2.clearfix
                .text-center
                  %ul.list-inline.list-unstyled.mbn.dates-list
                    %li
                      %a.btn-xs.text-success{href: last_tips_tipster_path(date_filter_param(nil)), class: class_for_date_filter('today')}
                        Today
                    - date_range_filter_for_tips.each do |date|
                      %li
                        %a.btn.btn-xs.text-success{href: last_tips_tipster_path(date_filter_param(date[:value])), class: class_for_date_filter(date[:value])}
                          = date[:label]
              .tipster-list-table
                .row
                  .col-md-12
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Match/Event
                          %th Odds
                          %th Tipster
                          %th Sport
                          %th Published at
                          %th Stake
                          %th Profit
                          %th Result
                      %tbody
                        - @tips.each do |tip|
                          %tr
                            %td
                              = image_tag tip.sport.icon_path
                              %a.text-warning.text-bold{href: tip_path(tip)}= tip.match.try(:name)
                            %td= tip.odds
                            %td
                              %a.text-warning{href: tipster_path(tip.author)}= tip.author.full_name
                            %td= tip.sport_name.titleize
                            %td= tip.published_at
                            %td= tip.amount
                            %td
                              - if tip.published?
                                - if tip.correct?
                                  %span.text-success
                                    \+
                                    = tip.profit
                                - else
                                  %span.text-danger
                                    \-
                                    = tip.amount
                              - else
                                \---
                            %td
                              - if tip.published?
                                - if tip.correct?
                                  %span.text-success
                                    &#x2714;
                                - else
                                  %span.text-danger
                                    &#x2718;
                              - else
                                \---
                    - if @tips.empty?
                      .clearfix
                        .text-center.text-danger.mam
                          %i There are no any tips