-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  .background-granite
    .container
      #sub-page-navi.text-success
        %ol.breadcrumb.mbn
          %li
            %a.text-success
              %i.fa.fa-home
              Home
          %li
            %a.text-success
              Tipsters
          %li
            %a.text-success
              = @tipster.full_name.titleize
  #page_header_mid.fixed-bg
    #sub-page-header
      .container.clearfix
        .tipsterdetail-head
          .row
            .avatar-tipster
              = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
      .bgtest
        .row
          .col-lg-9.col-lg-offset-3
            .common-tipster-info
              .col-md-3
                %h4= @tipster.first_name.upcase
                %span.value= @tipster.last_name
              .col-md-2
                %h4 RANK
                %span.value 1
              .col-md-2
                %h4 AVG.YIED
                %span.value 21.5%
              .col-md-2
                %h4 AVG.PROFIT
                %span.value 129.90 $
              .col-md-3
                = select_tag :ranking, options_for_select(ranking_ranges_for_select), class: 'select-as-links statistics-range mam'
  .tipters-menu-quicklink
    .container
      .row
        .col-md-9.col-md-offset-3.pts
          %ul.list-inline
            %li
              %a{href: tipster_path(@tipster)}
                %i General statistics
            %li -
            %li
              %a{href: detail_statistics_tipster_path(@tipster)}
                %i Details statistics
            %li -
            %li
              %a{href: last_tips_tipster_path(@tipster)}
                %i Last tips
            %li -
            %li
              %a{href: description_tipster_path(@tipster)}
                %i Tipster's description

.tipster-list#tipster_list
  .tipster-list-inner.container.for-last-tip
    .tipster-list-line1
      %ul.list-inline
        %li
          %a{href: last_tips_tipster_path(sport_filter_param(nil)), class: class_for_sport_filter('all')} All
        - @tipster_sports.each do |sport|
          %li
            %a{href: last_tips_tipster_path(sport_filter_param(sport.code)), class: class_for_sport_filter(sport.code)}= sport.name.titleize
    .tipster-list-line2.clearfix
      .text-center
        %ul.list-inline.list-unstyled.mbn.dates-list
          %li
            %a.btn-xs.text-success{href: last_tips_tipster_path(date_filter_param(nil)), class: class_for_date_filter('today')}
              Today
          - date_range_filter_for_tips.each do |date|
            %li
              %a.btn.btn-xs.text-success{href: last_tips_tipster_path(date_filter_param(date[:value])), class: class_for_date_filter(date[:value])}
                = date[:label]
    .tipster-list-table
      .row
        .col-md-12
          %table.table.table-hover
            %thead
              %tr
                %th Match/Event
                %th Odds
                %th Tipster
                %th Sport
                %th Published at
                %th Stake
                %th Profit
                %th Result
            %tbody
              - @tips.each do |tip|
                %tr
                  %td
                    = image_tag tip.sport.icon_path
                    %a.text-warning.text-bold{href: tip_path(tip)}= tip.match.try(:name)
                  %td= tip.odds
                  %td
                    %a.text-warning{href: tipster_path(tip.author)}= tip.author.full_name
                  %td= tip.sport_name.titleize
                  %td= tip.published_at
                  %td= tip.amount
                  %td
                    - if tip.published?
                      - if tip.correct?
                        %span.text-success
                          \+
                          = tip.profit
                      - else
                        %span.text-danger
                          \-
                          = tip.amount
                    - else
                      \---
                  %td
                    - if tip.published?
                      - if tip.correct?
                        %span.text-success
                          &#x2714;
                      - else
                        %span.text-danger
                          &#x2718;
                    - else
                      \---
          - if @tips.empty?
            .clearfix
              .text-center.text-danger.mam
                %i There are no any tips