- content_for :title do
  = @tipster.display_name
= content_for :title do
  Tipster profile

#profile-overiew-page
  .container
    #profile-overview.profile-overview
      .row
        .col-md-6
          .clearfix
            #profile-overview-common.profile-overview-common.clearfix.pam
              #profile-overview-avatar.profile-overview-common.avatar.pull-left.mrl
                = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'user_avatar'
              #profile-overiew-statistic.profile-overiew-statistic.pull-left.text-md
                %h3.ptn.mtn.text-slim.mbl= @tipster.full_name
                %h4.text-md.text-uppercase.text-muted Statistics
                %p.mbs
                  %span.mrs Profit:
                  %span.text-success.text-bold.text-lg
                    \ +1500 Units
                  %i.text-muted in the last <strong>6 months</strong>
                %p.mbs
                  %span.mrs Yield:
                  %span.text-success.text-bold.text-lg
                    \ 23.5%
                  %i.text-muted on last <strong>120 tips</strong>

        .col-md-6
          %h3.mtl.text-slim Subscribe to this Tipster
          = render 'shared/add_to_cart_form', {tipster_id: @tipster.id , disable: tipster_ids_in_cart.include?(@tipster.id.to_s)}

    #profile-overview-detail
      .panel.panel-default
        .panel-header
          / Nav tabs
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", href: "#general"} General
            %li
              %a{"data-toggle" => "tab", href: "#statistics"} Statistics
            %li
              %a{"data-toggle" => "tab", href: "#last-pick"} Last picks
            %li
              %a{"data-toggle" => "tab", href: "#service-description"} Service Description
            %li
              %a{"data-toggle" => "tab", href: "#news"} News
        .panel-body
          / Tab panes
          .tab-content
            #general.tab-pane.active
              = render 'tipsters/profile/general'
            #statistics.tab-pane
              = render 'tipster/statistics'
            #last-pick.tab-pane
              = render 'tipsters/lastpick'
            #service-description.tab-pane
              = render 'tipsters/service'
            #news.tab-pane ...
              = render 'tipsters/news'