= content_for :title do
  Tipster profile
.container
  .col-lg-12.profile-overview
    .col-lg-3
      %p
        %h3
          = @tipster.full_name
      = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'user_avatar'
    .col-lg-4
      %h3 Statistics
      %p
        %strong Profit
        %span.text-warning
          \ +1500
        Units in the last 6 months
      %p
        %strong Yield
        %span.text-warning
          \ 23.5%
        on last 120 tips

    .col-md-4
      %h3 Subscribe to this Tipster
      = render 'shared/add_to_cart_form', tipster_id: @tipster.id
  .col-lg-12
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#general"} General
      %li
        %a{"data-toggle" => "tab", href: "#statistics"} Statistics
      %li
        %a{"data-toggle" => "tab", href: "#last-pick"} Last picks
      %li
        %a{"data-toggle" => "tab", href: "#service-description"} Service Description
      %li
        %a{"data-toggle" => "tab", href: "#news"} News
    / Tab panes
    .tab-content
      #general.tab-pane.active
        = render 'tipsters/profile/general'
      #statistics.tab-pane ...
      #last-pick.tab-pane ...
      #service-description.tab-pane ...
      #news.tab-pane ...
