= content_for :title do
  Tipster profile | #{@tipster.full_name}

- content_for :page_head_mid do
  .background-granite
    .container
      #sub-page-navi.text-success
        %ol.breadcrumb.mbn
          %li
            %a.text-success
              %i.fa.fa-home
              Home
          %li
            %a.text-success
              Tipsters
          %li
            %a.text-success
              = @tipster.full_name.titleize
  #page_header_mid.fixed-bg
    #sub-page-header
      .container.clearfix
        .tipsterdetail-head
          .row
            .avatar-tipster
              = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
      .bgtest
        .row
          .col-lg-9.col-lg-offset-3
            .common-tipster-info
              .col-md-3
                THOMAS
                %br
                Souksouvanh
              .col-md-3
                RANK
                %br
                1
              .col-md-3
                AVG.YIED
                %br
                21.5%
              .col-md-3
                AVG.PROFIT
                %br
                129.90 $
  .tipters-menu-quicklink
    .container
      .row
        .col-md-9.col-md-offset-3.pts
          %ul.list-inline
            %li
              %a{href: '#'}
                %i General statistics
            %li -
            %li
              %a{href: '#'}
                %i Details statistics
            %li -
            %li
              %a{href: '#'}
                %i Last tips
            %li -
            %li
              %a{href: '#'}
                %i Tipster's description
#profile-overiew-page
  .container
    .pull-right
      = select_tag :ranking, options_for_select(ranking_ranges_for_select), class: 'select-as-links'
    #profile-overview-detail
      .panel.panel-default
        .panel-header
          .clearfix
            .col-md-12
              .col-md-2.col-md-offset-1.text-center
                %h2
                  %i Profit:
                = @tipster.profit_in_string(true)
              .col-md-2.text-center
                %h2
                  %i Yield:
                = @tipster.yield_in_string
              .col-md-2.text-center
                %h2
                  %i Tips:
                = @tipster.number_of_tips
              .col-md-2.text-center
                %h2
                  %i Avg Odds:
                = @tipster.avg_odds
              .col-md-2.text-center
                %h2
                  %i Win rate:
                = @tipster.hit_rate_in_string
            .col-md-12
              .text-center
                = high_chart("profil-chart-container", @chart)

