-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  .background-granite
    .container
      #sub-page-navi.text-success
        %ol.breadcrumb.mbn
          %li
            %a.text-success
              %i.fa.fa-home
              Home
          %li
            %a.text-success
              Tipsters
          %li
            %a.text-success
              = @tipster.full_name.titleize
  #page_header_mid.fixed-bg
    #sub-page-header
      .container.clearfix
        .tipsterdetail-head
          .row
            .avatar-tipster
              = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
      .bgtest
        .row
          .col-lg-9.col-lg-offset-3
            .common-tipster-info
              .col-md-3
                %h4= @tipster.first_name.upcase
                %span.value= @tipster.last_name
              .col-md-2
                %h4 RANK
                %span.value 1
              .col-md-2
                %h4 AVG.YIED
                %span.value 21.5%
              .col-md-2
                %h4 AVG.PROFIT
                %span.value 129.90 $
              .col-md-3
                = select_tag :ranking, options_for_select(ranking_ranges_for_select), class: 'select-as-links statistics-range mam'
  .tipters-menu-quicklink
    .container
      .row
        .col-md-9.col-md-offset-3.pts
          %ul.list-inline
            %li
              %a{href: tipster_path(@tipster)}
                %i General statistics
            %li -
            %li
              %a{href: detail_statistics_tipster_path(@tipster)}
                %i Details statistics
            %li -
            %li
              %a{href: last_tips_tipster_path(@tipster)}
                %i Last tips
            %li -
            %li
              %a{href: description_tipster_path(@tipster)}
                %i Tipster's description
#profile-overiew-page
  .container
    #profile-overview-detail
      .panel.panel-default
        .panel-body
          .clearfix
            .col-md-12
              .col-md-2.col-md-offset-1.text-center
                %h2
                  Profit:
                = @tipster.profit_in_string(true)
              .col-md-2.text-center
                %h2
                  Yield:
                = @tipster.yield_in_string
              .col-md-2.text-center
                %h2
                  Tips:
                = @tipster.number_of_tips
              .col-md-2.text-center
                %h2
                  Avg Odds:
                = @tipster.avg_odds
              .col-md-2.text-center
                %h2
                  Win rate:
                = @tipster.hit_rate_in_string
            .mal.clearfix
              %hr
            .col-md-12
              .text-center
                = high_chart("profil-chart-container", @tipster.profit_chart)
            .col-md-12
              %h3 All Tips(just for test)
              %table.table.table-bordered
                %thead
                  %tr
                    %th #
                    %th Date
                    %th Odd
                    %th Amount
                    %th Correct
                    %th $
                    %th Free?
                %tbody
                  - @finished_tips.each_with_index do |tip, index|
                    - tr_klass = tip.correct? ? 'text-success' : 'text-danger'
                    - index += 1
                    %tr{class: tr_klass}
                      %td= index
                      %td
                        = tip.published_date
                        -#- if tip.published_date == 30.days.ago.to_date
                        -#  %b Last month
                        -#- if tip.published_date == 90.days.ago.to_date
                        -#  %b Last 3 month
                        -#- if tip.published_date == 180.days.ago.to_date
                        -#  %b Last 6 month
                      %td= tip.odds
                      %td= tip.amount
                      %td
                        %span{class: tr_klass}
                          - if tip.correct?
                            &#x2714;
                          - else
                            &#x2718;
                      %td
                        = profit_in_string tip.profit
                      %td= tip.free?


