-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  = render 'profile_header', tipster: @tipster
  = render 'tipster_profile_subpage_links', tipster: @tipster
#profile-overiew-page
  .container
    #profile-overview-detail
      .panel.panel-default
        .panel-body
          %h3.tipster-profile-subpage-header.black-bg General Statistics
          .col-md-12.clearfix
            .col-md-4
              .statistics-number-box
                .box-header
                  Total profit
                .box-body.pam
                  .text-right
                    %h3
                      %span.number.text-success
                        = "$#{@tipster.profit}"
                      %br
                      Total
            .col-md-4
              .statistics-number-box
                .box-header
                  Number of tips
                .box-body.pam
                  .text-right
                    %h3
                      %span.number.text-danger
                        = @tipster.number_of_tips
                      %br
                      Total
            .col-md-4
              .statistics-number-box
                .box-header
                  Win rates
                .box-body.pam
                  .pull-left
                    .percentage-pie-chart{"data-percent"=> @tipster.hit_rate , "data-scale-color"=>"#ffb400"}
                  .pull-right
                    %h3.text-danger
                      %span.number
                        = hit_rate_in_string @tipster.hit_rate
                      %br
                      Average
          .mal.clearfix
          .col-md-12.clearfix
            .col-md-8
              .profit-chart-wrapper
                = high_chart("profil-chart-container", @tipster.profit_chart) if @tipster.profit_chart
            .col-md-4
              .statistics-number-box
                .box-header
                  Average odds
                .box-body
                  .text-right
                    %h3
                      %span.number.text-success
                        = @tipster.avg_odds
                      %br
                      %span ON
                      %br
                      %span.text-success
                        = @tipster.number_of_tips
                        %span.text-success bets

