%table.table.table-bordered
  %caption Top Tipster Ranking on last 6 month
  %thead
    %tr
      %th Full Name
      %th Email
      %th Created at
      %td Action
  %tbody
    - if @tipsters.nil?
      %tr
        %td
          There are no any tipster found.
        %td
        %td
        %td
    - else
      - @tipsters.each do |tipster|
        %tr
          %td= tipster.name
          %td= tipster.email
          %td= tipster.created_at.strftime("%m/%d/%Y")
          %td
            - if @tipster_in_subscription.present? && @tipster_in_subscription.include?(tipster)
              %label.label Already purchase
            - else
              - if @tipster_ids_in_cart.include? tipster.id.to_s
                = form_tag drop_tipster_cart_path do
                  = hidden_field_tag :id, tipster.id
                  = hidden_field_tag :return_url, top_tipster_url
                  %button.btn.btn-danger{type: :submit} Remove from cart
              - else
                = form_tag add_tipster_cart_path do
                  = hidden_field_tag :id, tipster.id
                  %button.btn.btn-success{type: :submit} Add to cart
.center-block
  - unless @tipster_ids_in_cart.empty?
    - if @tipster_in_subscription.present?
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_add_offer_path,'data-no-turbolink' => true} Proceed to checkout
    - else
      %a.btn.btn-success.btn-large.pull-right{href: subscribe_choose_offer_path,'data-no-turbolink' => true} Proceed to checkout