.well
  = my_devise_error_messages!
  = simple_form_for resource, :as => resource_name, :url => admin_sign_in_path, :html => {class: 'form-horizontal', novalidate: true} do |f|
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-3.col-sm-9
        %button.btn.btn-primary{type: :submit} Submit
  = render "backoffice/shared/links"
