.col-md-6
  %h2= "#{@tipster.full_name} overall profit"
  #profil-chart-container
    = image_tag profit_img_chart_url_for(@tipster.profit_per_months)
.col-md-5.col-md-offset-1
  %h2= 'Track'
  %table.table.table-bordered
    %thead
      %tr
        %th Month
        %th Profit
        %th Yield
        %th Num of tips
    %tbody
      - 8.times do |i|
        %tr
          %td= i + 1
          %td= "#{(10..100).to_a.sample}%"
          %td= "#{(10..200).to_a.sample}%"
          %td= "#{(12..150).to_a.sample}"
  .pull-right
    %a{href: '#'} See overall track record >>
