.col-lg-12
  .col-md-6
    %h2= "#{@tipster.full_name} overall profit"
    #profil-chart-container
      = image_tag profit_img_chart_url_for(@tipster.profit_per_months)
  .col-md-5.col-md-offset-1
    %h2= 'Track'
    %table.table.table-bordered
      %thead
        %tr
          %th Month
          %th Profit
          %th Yield
          %th Num of tips
      %tbody
        - 8.times do |i|
          %tr
            %td= i + 1
            %td= "#{(10..100).to_a.sample}%"
            %td= "#{(10..200).to_a.sample}%"
            %td= "#{(12..150).to_a.sample}"
    .pull-right
      %a{href: '#'} See overall track record >>
.col-lg-12
  %hr
  %h2 Last 10 tips
  %table.table.table-bordered.table-hover.bgw
    %thead
      %tr
        %th Event
        %th Odds
        %th Sport
        %th Published at
        %th Profit
        %th Result
    %tbody
      - @recent_tips.each do |tip|
        %tr
          %td.text-info
            %a{href: tip_path(tip)}= tip.event
          %td= tip.odds
          %td= tip.sport.name.titleize
          %td= tip.created_at
          %td
            - if tip.correct?
              %span.text-success
                \+
                = tip.amount
            - else
              %span.text-danger
                \-
                = tip.amount
          %td
            - if tip.correct?
              %span.text-success
                &#x2714;
            - else
              %span.text-danger
                &#x2718;