-# Trick for preload image
= image_tag 'circle_loading.gif', class: 'hide'
.pull-right
  %img{src: "/assets/bookmarkers/#{params[:bookmarker]}.png"}
.clearfix
-# Find area_competition to create select box
- competitions = []
- competitions << ['All', '']
- @matches.each {|match| competitions << [match.competition_name, match.competition_id]}
- competitions.uniq!
.mal
  .mbm
    = simple_form_for :nothing, url: backoffice_search_bookmarker_matches_path,
        html: {method: 'GET', class: 'form-ajax form-inline', 'data-update-html-for' => "#bookmarker-matches-wrapper"} do |f|
      = hidden_field_tag :bookmarker, @bookmarker.code
      .col-lg-12
        .col-lg-3
          %label.control-label Group:
          .radio-inline
            %label.control-label
              %input.btn-filter-mode.change-immediate{type: :radio, name: :group_by, 'checked' => true, value: 'date'}
              Date
          .radio-inline
            %label.control-label
              %input.btn-filter-mode.change-immediate{type: :radio, name: :group_by, value: 'sport'}
              Sport
        .col-lg-4
          %label.control-label.col-md-4 Competition:
          .col-md-8
            = select_tag :competition, options_for_select(competitions), class: 'select2able change-immediate'
        .col-lg-5
          %label.control-label.col-md-2 Search:
          .col-md-10
            %input.input-sm.form-control{type: :text, placeholder: '', name: 'search'}
            %button.btn.btn-default.btn-sm{type: :submit} Submit

.mam.clearfix
#bookmarker-matches-wrapper
  = render "backoffice/create_tip/bookmarker_matches_list", matches: @matches

-# The hidden dialog to confirm select odd
#confirm-select-odd-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.text-warning
        %h4.modal-title Please complete information for your tip:
      .modal-body
        .selection-infor.text-center
        .row
          = simple_form_for :tip, url: backoffice_confirm_create_tip_path, method: 'post',
            html: {class: 'form-horizontal', novalidate: false, id: 'form-confirm-tip'} do |f|
            = f.input_field :match_id, as: :hidden
            = f.input_field :odds, as: :hidden
            = f.input_field :selection, as: :hidden
            = f.input_field :bet_type_code, as: :hidden
            .form-group
              %label.col-md-3.control-label
                Type of bet:
              .col-md-7
                .form-control#tip-bet-type-name
            .form-group
              %label.col-md-3.control-label
                Selection:
              .col-md-7
                .form-control#tip-selection
            .form-group
              %label.col-md-3.control-label
                Odds:
              .col-md-7
                .form-control#tip-odds
            .form-group
              %label.col-md-3.control-label
                Amount (*):
              .col-md-7
                = f.input_field :amount, autofocus: true, required: true , type: :number
            .form-group
              %label.col-md-3.control-label
                Advice (*):
              .col-md-7
                = f.input_field :advice, as: :text, required: true, rows: 4
            %hr
            .text-center
              %button.btn.btn-success#submiter{type: :submit} Submit
              %button.btn.btn-default{type: :button, "data-dismiss" => "modal"} Cancel