-#Popup for confirm information when choose tipster or plan
#modal-confirm-checkout.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title
          %i.glyphicon.glyphicon-shopping-cart
          = t('menu.cart')
      .modal-body
        .row
          %p Your SUPER TipsterHero has been added in your shopping cart
        .row.adding
          .adding-header
            .col-md-6
              %p.text-center Your SUPER TIPSTERHERO
            .col-md-6
              %p.text-center Your Subscription
          .adding-info
            .col-md-5
              .tipster_info
                - unless @choose_tipster.nil?
                  %ul.list-unstyled
                    %li.text-center= @choose_tipster.full_name
                    %li.responsive-image= image_tag @choose_tipster.avatar.url(:thumb) || 'demo.jpg'
                    %li
                      = simple_form_for :nothing,url: change_tipster_cart_path do
                        = hidden_field_tag :old_id,@choose_tipster.id
                        = hidden_field_tag :new_id,''
                        = button_tag(type: 'submit', class: 'submitLink') do
                          %i.glyphicon.glyphicon-play
                          Change tipster
                - else
                  %ul.list-unstyled
                    %li.text-center Tipster choose
                    %li.responsive-image
                      %image{src: path_to_image('unselect_tipster.jpg')}
                    %li
                      %a{href: "#"} Choose tipster
            .col-md-2
              %image{src: path_to_image("example_narow.png"),height: '250px'}
            .col-md-5
              .subscription-info
                - unless @selected_plan.nil?
                  %ul.list-unstyled
                    %li.text-center= @selected_plan.title
                    %li.responsive-image
                      %image{src: path_to_image('select_subscription.png')}
                    %li.subscription-price= @selected_plan.price.to_s + " € / month"
                    %li
                      %a.submitLink{href: subscribe_choose_offer_path}
                        %i.glyphicon.glyphicon-play
                        Change subscription
                - else
                  %ul.list-unstyled
                    %li.text-center Plan info
                    %li.responsive-image
                      %image{src: path_to_image('unselect_subscription.png')}
                    %li
                      %a.submitLink{href: subscribe_choose_offer_path}
                        %i.glyphicon.glyphicon-play
                        Choose subscription
      .modal-footer
        %a.btn.checkoutbtn{href: subscribe_checkout_path} Process checkout