-# Required vars:
- #  (Formbuilder) f
- #  (Boolean) only_basic_fields

= f.input :first_name, :required => true
= f.input :last_name, :required => true
= f.input :nickname , :required => false
- max_date = 16.years.ago.to_date.to_s
= f.input :birthday, as: :string, input_html: {placeholder: 'yyyy-mm-dd (16 years old require)', class: 'date-picker limited', 'data-max-date' => max_date}
= f.input :gender, as: :radio_buttons, collection: genders_collection_for_select, :item_wrapper_class => 'radio-inline', html_wrapper: {class: 'col-md-3'}
- unless only_basic_fields
  = f.input :address, :required => false, input_html: {placeholder: '123 Main Street'}
  = f.input :city, :required => false
  = f.input :country, as: :country, required: true, :priority => ['France'], include_blank: false, input_html: {class: 'form-control'}
  = f.input :zip_code
  .form-group
    %label.col-md-4.control-label Mobile phone *
    .col-md-7
      .col-md-4
        = f.input_field :phone_indicator,as: :select, collection: phone_indicator_for_select,selected: :phone_indicator, include_blank: false
      .col-md-8
        = f.input_field :mobile_phone, :required => true
  .form-group
    .col-md-7.col-md-offset-4
      .col-md-8.col-md-offset-4
        .has-error
          = f.error :mobile_phone
  = f.input :telephone, :required => false
  = f.input :favorite_beting_website, :required => false
  = f.input :know_website_from, as: :select, collection: know_website_from_for_select, include_blank: false
  = f.input :secret_question, as: :select, collection: secret_questions_for_select, include_blank: false
  = f.input :answer_secret_question,:required => true
  = f.input :receive_info_from_partners, :as => :boolean, :inline_label => 'Receive info from our partners', label: '&nbsp;'.html_safe,input_html: {checked: "checked"}