-# Required variables : f (form builder)
= f.input :email, :required => true, :autofocus => true
= f.input :first_name, :required => true
= f.input :last_name, :required => true
= f.input :password, :required => true
= f.input :password_confirmation, :required => true