.row-fluid
  .well
    - if @message
      .text-danger
        = @message
  .well
    %label Transaction id
    %span= @payment.txn_id
    %label Payer email
    %span= @payment.payer_email
    %label Payment status
    %span= @payment.payment_status
    %label Amount
    %span= "€#{@payment.mc_gross}"