.row-fluid
  - if @message
    .well
      .text-danger
        = @message
  .well
    %ul
      %li
        %span
          %strong Transaction id
        %span= @payment.txn_id
      %li
        %span
          %strong Transaction status
        %span= @payment.payment_status
      - if @payment.payment_status != "Completed"
        %li
          %span
            %strong Pending reason
          %span= PAYPAL_PENDINGS["#{params[:pending_reason]}"]
      %li
        %span
          %strong Payer email
        %span= @payment.payer_email
      %li
        %span
          %strong Payment name
        %span= "#{@payment.payer_first_name} #{@payment.payer_last_name}"

      %li
        %span
          %strong Payment amount
        %span= "€#{@payment.mc_gross}"
      %li
        %span
          %strong Payment date
        %span= @payment.payment_date