#price-list.clearfix

  - @plans.each do |plan|
    .price-unit
      .price-unit-inner{class: "#{@selected_plan && @selected_plan.id == plan.id ? 'large' : ''}"}
        .price-unit-head
          %span= plan.title.capitalize
        .price-unit-features
          .even
            %span.yes Free tips
          .odd
            %span{class: "#{plan.reception_delay == 0 ? 'yes' : 'no'}"} Real-time notice bet
          .even
            %span{class: "#{plan.free? ? 'no' : 'yes'}"} Follow professional tipster
          .odd
            %span{class: "#{plan.profit_guaranteed? ? 'yes' : 'no'}"} Profit guaranteed
          .even
            %span{class: "#{plan.switch_tipster_ability? ? 'yes' : 'no'}"} Change following tipster
          .odd
            %span{class: "#{(plan.number_tipster > 1) ? 'yes' : 'no'}"} Follow multi tipsters
        .price-number
          %h2
            - if plan.free?
              FREE
            - else
              %sup €
              = plan.price
              %sub /month
        .price-foot
          - if plan.free? && @disable_free
            %a.btn.btn-danger.disabled Suscribe
          - else
            - if params[:action] == 'pricing'
              %a.btn.btn-success{href: select_plan_path(plan.id)} Subscribe
            - else
              = form_tag subscribe_choose_offer_path,method: 'post' do
                = hidden_field_tag :plan_id, plan.id
                = submit_tag "Subscribe", class: "btn btn-success"