#page-header.background-granite
  #feature-profiles
    .container.pbm
      %div= image_tag('title-tipweek.png')
    .container.box-white.ptl.pbm.clearfix
      -#feature-carousel.carousel.slide.mlm(data-ride='carousel')
      #feature-carousel.mlm.pull-left
        .carousel-inner
          .item.active
            - tipsters.each_with_index do |tipster, index|
              .hotTipster-unit
                .hotTipster-body
                  %h4.text-slim.tipster-title
                    - fal = tipster.full_name.split(' ')
                    = fal.first
                    %br
                    = fal.last
                  = image_tag(tipster.avatar_url || 'demo.jpg', width: '210', class: 'avatar img-responsive')
                .hotTipster-foot
                  .hotTipster-info
                    %span.proofed
                      Profit:
                      %b
                        +
                        = rand(100..900)
                    %span.yield
                      Yield:
                      %b
                        = "#{rand(0..100)}%"
                  %a{href: "#{tipster_path(tipster)}",class: "see-profile-link" } See Profile
            = image_tag('headads.jpg')
  #board-gray
    .board-gray-inner.container.clearfix
      %h4.text-slim.man.pull-left Stop gambling, invest...  get tips from <br>proven proffesional tipsters
      .pull-right
        %h4.green-box
          %i Stop losing, join us now!