#page-header
  #feature-profiles
    .container
      .row
        .col-md-9
          %h3.text-slim Tipster of the week:
          #feature-carousel.carousel.slide(data-ride='carousel')
            .carousel-inner
              - tipsters.each_slice(5).to_a.each_with_index do |tpts, index|
                .item{class: index == 1 ? "active" : "" }
                  - tpts.each do |tipster|
                    .hotTipster-unit
                      .hotTipster-body
                        %h4.text-slim.tipster-title= tipster.full_name
                        = image_tag(tipster.avatar_url || 'demo.jpg', width: '210', class: 'avatar img-responsive')
                      .hotTipster-foot
                        .hotTipster-info
                          %span.proofed
                            Profit:
                            %b
                              +
                              = rand(100..900)
                          %span.yield
                            Yield:
                            %b
                              = "#{rand(0..100)}%"
                        %a{href: "#{tipster_path(tipster)}",class: "see-profile-link" } See Profile
            %a.left.carousel-control(href="#feature-carousel" data-slide="prev")
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control(href="#feature-carousel" data-slide="next")
              %span.glyphicon.glyphicon-chevron-right
        .col-md-2
          =image_tag('headads.jpg')
  #board-gray
    .board-gray-inner.container.clearfix
      %h4.text-slim.man.pull-left Stop gambling, invest...  get tips from <br>proven proffesional tipsters
      .pull-right
        %h4.green-box
          %i Stop losing, join us now!