#page-header.background-granite
  #feature-profiles
    .container.pbs
      %div= image_tag('title-tipweek.png')
    .container.box-white.ptl.pbm.clearfix
      -#feature-carousel.carousel.slide.mlm(data-ride='carousel')
      #feature-carousel.mlm.pull-left
        .carousel-inner
          .item.active
            - tipsters.each_with_index do |tipster, index|
              .hotTipster-unit
                .hotTipster-body
                  %h4.text-slim.tipster-title
                    - fal = tipster.full_name.split(' ')
                    = fal.first
                    %br
                    = fal.last
                  = image_tag(tipster.avatar_url || 'demo.jpg', width: '162', class: 'avatar img-responsive')
                .hotTipster-foot
                  .hotTipster-info
                    %span.proofed
                      Profit:
                      %b= profit_in_string tipster.profit_on_previous_week
                    %span.yield
                      Yield:
                      %b= yield_in_string (tipster.total_amount_on_previous_week*100/tipster.profit_on_previous_week.to_f).round(1)
                  %a.see-profile-link{href: tipster_path(tipster)} See Profile
            = image_tag 'headads.png', style: "height: 360px;float:left"
  #board-gray
    .board-gray-inner.container.clearfix
      %h4.text-slim.man.pull-left Stop gambling, invest...  get tips from <br>proven proffesional tipsters
      .pull-right
        %h4.green-box
          %i Stop losing, join us now!