= content_for :title, "Matches"
.container
  .row
    %h2.text-center.mbl.text-success List all Football match today !
    %table.table.table-bordered.bgw.table-hover
      %thead
        %tr
          %th Date
          %th Time UTC
          %th Match
          %th Description
      %tbody
        - @results.each do |result|
          %tr
            %td.success{colspan: 5}
              %strong.text-center.text-success= "#{result[:area_name] + " > " + result[:competition_name]}"
          - result[:matchs].each do |match|
            = hidden_field_tag :match_id,match[:match_id]
            %tr
              %td= match[:date_utc]
              %td= match[:time_utc]
              %td
                %strong= match[:team_A_name]
                vs
                %strong= match[:team_B_name]
              %td N/A