= content_for :title, 'Pricing'
.container
  %table.table.table-bordered
    %thead
      %tr
        %th
        - @plans.each do |plan|
          %th
            = plan.title
    %tbody
      %tr
        %td Tips reception
        - @plans.each do |plan|
          %td
            = plan.reception_delay.zero? ? 'Real time' : distance_of_time_in_words(plan.reception_delay)
      %tr
        %td Ability to pause your subscription
        - @plans.each do |plan|
          %td
            - if plan.pause_ability?
              &#x2714;
            - else
              &#x2718;
      %tr
        %td Ability to switch tipsters
        - @plans.each do |plan|
          %td
            - if plan.switch_tipster_ability
              &#x2714;
            - else
              &#x2718;
      %tr
        %td Guaranteed Profit Subscription
        - @plans.each do |plan|
          %td
            - if plan.profit_guaranteed
              &#x2714;
            - else
              &#x2718;
      %tr
        %td Discount
        - @plans.each do |plan|
          %td
            = plan.discount
      %tr
        %td Ability to switch tipsters
        - @plans.each do |plan|
          %td
            = '€' +  plan.price.to_s + '/ month'
            %br
            - unless @selected_plan.nil?
              - if plan.id < @selected_plan
                = link_to 'Downgrade', select_plan_path(plan.id),class: 'btn btn-warning'
              - elsif plan.id > @selected_plan
                = link_to 'Upgrade', select_plan_path(plan.id),class: 'btn btn-success'
              - else
                %a.btn.btn-danger Current
            - else
              - if @choosed_plan == plan.id
                %a.btn.btn-warning Selected
              - else
                = link_to 'Subscribe', select_plan_path(plan.id),class: 'btn btn-success'