%table.table.table-bordered
  %caption TipsterHero Subscription Plans
  %thead
    %tr
      %th
      - @plans.each do |plan|
        %th
          = plan.title
  %tbody
    %tr
      %td Tips reception
      - @plans.each do |plan|
        %td
          = plan.reception_delay.zero? ? 'Real time' : distance_of_time_in_words(plan.reception_delay)
    %tr
      %td Ability to pause your subscription
      - @plans.each do |plan|
        %td
          = plan.pause_ability
    %tr
      %td Ability to switch tipsters
      - @plans.each do |plan|
        %td
          = plan.switch_tipster_ability
    %tr
      %td Guaranteed Profit Subscription
      - @plans.each do |plan|
        %td
          = plan.profit_guaranteed
    %tr
      %td Discount
      - @plans.each do |plan|
        %td
          = plan.discount
    %tr
      %td Ability to switch tipsters
      - @plans.each do |plan|
        %td
          = '€' +  plan.price.to_s
          %br
          = link_to 'Select', select_subscription_path(plan.id),class: 'btn btn-success'