.container
  - if @subscription
    .well
      %h1.text-success.text-center Subscription Information
      .panel
        %ul.list-unstyled
          %li
            %span
              %strong Your plan is :
            %span #{@subscription.plan_title}
          - if @subscription.plan.free?
            %li
              %a{href: pricing_path}= t('user.upgrade')
          - elsif @subscription.active?
            %li
              %span
                %strong Plan active day:
              %span #{@subscription.active_at.strftime("%m/%d/%Y")}
            - unless @subscription.plan.free?
              %li
                %span
                  %strong Plan expired day:
                %span #{@subscription.expired_at.strftime("%m/%d/%Y")}
          - else
            %li
              %span Please make a payment for active subscription !
              %span
                %a.btn.btn-success{href: subscribe_checkout_path} Make a Payment now !
    - if !@subscription.plan.free? && @subscription.active
      %table.table.table-bordered
        %caption List Tipster on Your subscriptions
        %thead
          %tr
            %th Full Name
            %th Email
            %th Type
            %th Status
            %th Start at
            %th Next time purchase
        %tbody
          - if @subscription.tipsters.nil?
            %tr
              %td{colspan: '4'}
                There are no any tipster found.
          - else
            - if @subscription.active_tipsters.present?
              - @subscription.subscription_tipsters.each do |subscription_tipster|
                - if subscription_tipster.is_primary
                  %tr.success
                    %td
                      = subscription_tipster.tipster.full_name
                    %td
                      = subscription_tipster.tipster.email
                    %td
                      %span.label.label-primary Primary
                    %td
                      %span.label.label-success= subscription_tipster.active_string
                    %td
                      = subscription_tipster.active_at.strftime("%m/%d/%Y")
                    %td
                      = subscription_tipster.expired_at.strftime("%m/%d/%Y")
                      - if @subscription.can_change_tipster?
                        = link_to "Unfollow", remove_inactive_tipster_path(subscription_tipster.tipster.id),method: 'delete',data:{confirm: "Are your sure !"} ,class: "btn btn-sm btn-danger"
                - else
                  %tr.info
                    %td
                      = subscription_tipster.tipster.full_name
                    %td
                      = subscription_tipster.tipster.email
                    %td
                      %span.label.label-warning Additional
                    %td
                      %span.label.label-success= subscription_tipster.active_string
                    %td
                      = subscription_tipster.active_at.strftime("%m/%d/%Y")
                    %td
                      = subscription_tipster.expired_at.strftime("%m/%d/%Y")
                      - if @subscription.can_change_tipster?
                        = link_to "Unfollow", remove_inactive_tipster_path(subscription_tipster.tipster.id),method: 'delete',data:{confirm: "Are your sure !"} ,class: "btn btn-sm btn-danger"
      %table.table.table-bordered
        %caption
          %strong Your payment history
        %thead
          %tr
            %th #
            %th Transaction ID
            %th Payment amount
            %th Payment date
            %th Payment status
            %th Payment description
        %tbody
          - @subscription.payments.where(enable_history: true).each_with_index do |payment,index|
            - next if payment.mc_gross.nil?
            %tr
              %td= index
              %td= payment.txn_id
              %td= "€ #{'%.2f' % payment.mc_gross}"
              %td= payment.payment_date
              %td= payment.payment_status
              %td N/A
  - else

    .well.text-center
      %h2.text-warning You are still not register any plan.
      %a.btn.btn-success{href: pricing_path} Register now !