.mam
  - unless @recent_activities.empty?
    .panel.panel-success
      .panel-heading
        %strong Recent Activities
      .panel-body
        - @recent_activities.each do |event|
          .tip-activity-wrap.pas
            %p
              - if event.author == current_tipster
                %span.text-i.text-bold= t 'common.you'
              - else
                %span.text-i= "#{event.author_type}"
                %span.text-i.text-black.text-bold= "#{event.author_full_name}"
              = t "tip.journals.#{event.event}"
              %span.text-i.text-black.text-bold
                %a{href: backoffice_tip_path(event.tip)}
                  = event.tip.match_name
              %span on
              %span.text-i.text-muted= event.created_at.strftime(t('time.formats.date_with_time'))
  .panel.panel-success
    .panel-heading
      %strong Profit
      .pull-right
        %strong= t("tipster.ranking.ranges.#{@tipster.current_statistics_range}").titleize
    .panel-body
      .row
        .text-center
          = high_chart("profil-chart-container", @tipster.profit_chart) if @tipster.profit_chart
          -##profit-chart-container
          -#  = render_chart @tipster.profit_chart, 'profit-chart-container' if @tipster.profit_chart
        %hr
        .row.clearfix
          .col-md-2.col-md-offset-1
            Number of tips:
            %strong= @tipster.number_of_tips
          .col-md-2
            Profit:
            %strong= profit_in_string @tipster.profit
          .col-md-2
            Yield:
            %strong= yield_in_string @tipster.yield
          .col-md-2
            Win rate:
            %strong= hit_rate_in_string @tipster.hit_rate
          .col-md-2
            Avg of odds:
            %strong= @tipster.avg_odds
.mam
  .panel.panel-success
    .panel-heading
      %strong Last tips
    .panel-body
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Match/Event Name
            %th Sport
            %th Created at
            %th Odds
            %th Bookmarker
            %th Selection
            %th Status
        %tbody
          - @recent_tips.each do |tip|
            %tr
              %td
                %a{href: backoffice_tip_path(tip)}
                  = tip.match.try :name
              %td= tip.sport_name.titleize
              %td= tip.created_at
              %td= tip.odds
              %td= tip.bookmarker_code.titleize
              %td= tip.selection
              %td
                %span{class: class_for_tip_status(tip.status)}= tip.status_in_string
      .text-center
        %a.btn.btn-default.btn-sm{href: backoffice_my_tips_path} More
.mam
  .panel.panel-success
    .panel-heading
      %strong Followers
    .panel-body
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Full Name
            %th Follow from date
            %th Status
        %tbody
          - @subscribers.each do |subscriber|
            %tr
              %td= subscriber.full_name
              %td= subscriber.created_at
              %td ...


