- if @subscription
  %h1.text-success Subscription Information
  .well
    %ul
      %li
        %span
          %strong Your plan is :
        %span #{@subscription.plan_title}

      - last_payment = @subscription.payments.last
      - if last_payment && last_payment.payment_status != "Completed"
        %li
          %span
            %strong Subscription pending reason :
          %span #{t("paypal_pending_reasons.#{params[:pending_reason]}")}
      - elsif last_payment
        %li
          %span
            %strong Subscription payment status :
          %span #{last_payment.payment_status}
        %li
          %span
            %strong Subscription payment transaction id :
          %span #{last_payment.txn_id}
        %li
          %span
            %strong Payment start on
          %span #{last_payment.payment_date.in_time_zone("Pacific Time (US & Canada)")}
        %li
          %span
            %strong Payment amount
          %span € #{last_payment.mc_gross}
      - else
        %li
          %span
            %strong Your payment was not completed.
  - if @subscription.payments.last
    %table.table.table-bordered
      %caption List Tipster on Your subscriptions
      %thead
        %tr
          %th Full Name
          %th Email
          %th Start at
          %th Next time purchase
      %tbody
        - if @subscription.tipsters.nil?
          %tr
            %td
              There are no any tipster found.
            %td
            %td
            %td
        - else
          - if @subscription.active_tipsters.present?
            %tr Active Tipsters
            - @subscription.active_tipsters.each do |tipster|
              %tr
                %td
                  = tipster.name
                %td
                  = tipster.email
                %td
                  = @subscription.payments.last.payment_date.strftime("%m/%d/%Y")
                %td
                  = (@subscription.payments.last.payment_date + @subscription.plan.period.month).strftime("%m/%d/%Y")
          - elsif @subscription.inactive_tipsters.present?
            %tr Inactive Tipsters
            - @subscription.active_tipsters.each do |tipster|
              %tr
                %td
                  = tipster.name
                %td
                  = tipster.email
                %td
                %td
- else
  You are still not register any plan.