%table.table.table-bordered
  %caption
    %h1 Cart show
  %thead
    %tr
      %th Full Name
      %th Email
      %th Created at
      %td Action
  %tbody
    - if @tipsters.nil?
      %tr
        %td
          There are no any tipster found.
        %td
        %td
        %td
    - else
      - @tipsters.each do |tipster|
        %tr
          %td
            = tipster.name
          %td
            = tipster.email
          %td
            = tipster.created_at.strftime("%m/%d/%Y")
          %td
            = link_to 'Remove from cart', drop_tipster_from_cart_path(tipster.id),class: 'btn btn-primary' ,method: 'post'
%div.bottom
  = link_to "Confirm order and process to identification",subscriptions_identification_url,class: 'btn btn-large btn-success',method: 'post'