= content_for(:title, I18n.t('user.sign_in'))
.container
  = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) , :html => {class: 'form-horizontal'} do |f|
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-4.col-sm-7
        %button.btn.btn-primary{type: :submit}= I18n.t('user.sign_in')
  -#= render "devise/shared/links"
