%ul.list-inline.text-center
  %li
    %a.btn.btn-default.btn-sm{href: admin_tips_path(sport_filter_param(nil)), class: class_for_sport_filter('all')} All
  - @sports.each do |sport|
    %li
      %a.btn.btn-default.btn-sm{href: admin_tips_path(sport_filter_param(sport.code)),
          class: class_for_sport_filter(sport.code)}
        %i{class: class_for_sport_icon(sport.code)}
        = sport.name.titleize
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Match/Event
      %th Tipster
      %th Sport
      %th Odds
      %th Amount
      %th Create date
      %th Status
      %th Action
  %tbody
    - @tips.each do |tip|
      %tr
        %td
          %a{href: admin_tip_path(tip)}
            = tip.match_name
        %td.text-info
          - if tip.author.is_a? Tipster
            - author_url = admin_tipster_path(tip.author)
          - else
            - author_url = '#'
          %a{href: author_url }= tip.author_full_name.capitalize
        %td= tip.sport_name
        %td= tip.odds
        %td= tip.amount
        %td= tip.created_at.strftime(t('time.formats.date_with_time'))
        %td
          %span{class: class_for_tip_status(tip.status)}= tip.status_in_string
        %td
          -#%a.btn.btn-default.btn-xs.text-info{href: admin_tip_path(tip)}
          -#  %i.fa.fa-eye
          -#  Detail
          - if tip.rejectable?
            %a.btn.btn-default.btn-xs.text-danger.btn-reject-tip{href: '#', 'data-url' => reject_admin_tip_path(tip)}
              %i.fa.fa-times-circle
              Reject
          - if tip.publishable?
            %a.btn.btn-default.btn-xs.text-success.btn-publish-tip{href: '#', 'data-url' => publish_admin_tip_path(tip)}
              %i.fa.fa-globe
              Publish
          - if tip.finishable?
            %a.btn.btn-default.btn-xs.text-success.btn-finish-tip{href: '#', 'data-url' => finish_admin_tip_path(tip)}
              %i.fa.fa-check-square
              Finish
= render 'action_modal_boxs'