- group_by = params[:group_by]
- if group_by == 'sport'
  - matches_grouped = matches.group_by {|match| match.sport}
- else # Group by date
  - matches_grouped = matches.group_by {|match| match.start_date}
  -# Sort by start date asc
  - matches_grouped = matches_grouped.sort_by {|date, matches| date}
#betclic-matches-wrapper.panel-group
  - group_index = 0
  -# ===================> Group by date or sport
  - matches_grouped.each do |group, matches|
    - group_index += 1
    - if group_by == 'sport'
      - sport = group
      - group_title = content_tag :span do
        %i{class: class_for_sport_icon(sport.code)}
        = sport.name.titleize
    - else
      - group_title = group.strftime("%A - %d %b %Y")
    -# ======================================================================== Date or sport panel
    .panel{class: "#{group_index == 1 ? 'panel-success' : 'panel-default'}"}
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#betclic-matches-group-wrap", "data-toggle" => "collapse", href: "##{group.class.name.downcase}-#{group_index}"}
            %span.text-bold
              = group_title.html_safe
            %span.text-muted
              = "(#{matches.count})"
      -# ================================================= Content for group panel
      -# Class = 'in' is always open the top panel
      .panel-collapse.collapse{id: "#{group.class.name.downcase}-#{group_index}", class: "#{'in' if group_index == 1}" }
        .panel-body
          .panel-group{id: "group-#{group_index}"}
            - competitions_matches = matches.group_by{|match| match.competition_name}
            - competition_index = 0
            - competitions_matches.each do |competition, matches|
              - competition_index += 1
              -# ===================================================== Competition panel
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-parent" => "#group-#{group_index}", "data-toggle" => "collapse", href: "#group-#{group_index}-competition-#{competition_index}"}
                      = competition
                      %span.text-muted
                        = "(#{matches.count})"
                -# =========== Content for competition panel
                .panel-collapse.collapse{id: "group-#{group_index}-competition-#{competition_index}"}
                  .panel-body
                    - matches.each do |m|
                      .match.clearfix{data: {url: find_bets_backoffice_match_path(m.match_id)}}
                        .summary
                          .match-hour
                            = m.start_at.strftime("%H:%M")
                            - if group_by == 'sport'
                              \-
                              = m.start_at.strftime("%b %d")
                          .match-name
                            .text-muted
                              %i{class: class_for_sport_icon(m.sport_code)}
                              = m.sport.name.titleize
                              \/
                              = competition
                              \/
                              %a{href: backoffice_match_path(m), target: '_blank'}
                                %span.text-info.text-bold
                                  = m.name
                          .pull-right
                            %button.btn.btn-default.btn-xs.btn-view-bets
                              View odds
                        .bets.clearfix.hide-tmp

.text-center
  - if matches.empty?
    .text-danger.text-center
      %i Not found any matches!