- if group_by == 'sport'
  - matches_grouped = matches.group_by {|match| match.sport_code}
- else # Group by date
  - matches_grouped = matches.group_by {|match| match.start_date}
  -# Sort by start date asc
  - matches_grouped = matches_grouped.sort_by {|date, matches| date}
#matches-on-date.panel-group
  - index = 0
  - matches_grouped.each do |group, matches|
    - if group_by == 'sport'
      - sport = matches.first.sport
      - group_title = content_tag :span do
        %i{class: class_for_sport_icon(sport.code)}
        = sport.name.titleize
    - else
      - group_title = group.strftime("%A - %d %b %Y")

    - index += 1
    .panel{class: "#{index == 1 ? 'panel-success' : 'panel-default'}"}
      .panel-heading
        %h4.panel-title

          %a{"data-parent" => "#matches-on-date", "data-toggle" => "collapse", href: "#abcxyz-panel-#{index}"}
            %span.text-bold
              = group_title.html_safe
            %span.text-muted
              = "(#{matches.count})"
      .panel-collapse.collapse{id: "abcxyz-panel-#{index}", class: "#{'in' if index == 1}" }
        .panel-body
          -#- matches = matches.sort_by {|match| match.start_at}
          - matches.each do |m|
            .match.clearfix{data: {url: find_bets_backoffice_match_path(m.opta_match_id)}}
              .summary
                .match-hour
                  = m.start_at.strftime("%H:%M")
                .match-name

                  .text-muted
                    - unless group_by == 'sport'
                      %i{class: class_for_sport_icon(m.sport_code)}
                      = m.sport.name.titleize
                      \/
                    = m.competition.try(:name)
                    \/
                    %a{href: backoffice_match_path(m), target: '_blank'}
                      %span.text-info.text-bold
                        = m.name
                .pull-right
                  - if mode == 'auto'
                    %button.btn.btn-default.btn-xs.btn-view-bets
                      View bets
                  - else
                    %a.btn.btn-warning.btn-xs{href: new_backoffice_tip_path(match: m.to_s)}
                      Create tip with your own bet
              .bets.clearfix.hide-tmp
.text-center
  - if matches.empty?
    .text-danger.text-center
      %i Not found any matches!