-# Trick for preload image
= image_tag 'circle_loading.gif', class: 'hide'
.row
  .col-lg-4
    %h3.text-info Available matches
  .col-lg-6.col-lg-offset-2
    .mtl
      = simple_form_for :nothing, url: search_backoffice_matches_path, html: {id: 'form-group-method'} do |f|
        = hidden_field_tag :mode, 'auto'
        %label.col-sm-3 Group by:
        .col-sm-9
          .radio-inline
            %label.control-label
              %input.btn-filter-mode{type: :radio, name: :group_by, 'checked' => true, value: 'date'}
              Date
          .radio-inline
            %label.control-label
              %input.btn-filter-mode{type: :radio, name: :group_by, value: 'sport'}
              Sport
          .radio-inline
            %label.control-label
              %input.btn-filter-mode#switch-advanced-search-form{type: :radio, name: :group_by, value: 'none'}
              Advanced Search
.row
  #advanced-search-form-wrap.mal.ptm.simple-bordered.clearfix.hide
    = simple_form_for :nothing, url: search_backoffice_matches_path, html: {id: 'form-advanced-search', class: 'form-horizontal'} do |f|
      = hidden_field_tag :mode, 'auto'
      .col-lg-6
        .col-lg-5
          .form-group
            %label.control-label.col-sm-3
              Sport
            .col-sm-9
              = select_tag :sport, options_for_select(sport_filter_for_select(@tipster_sports)),
                class: 'select2able', 'data-no-search' => true
        .col-lg-7
          .form-group
            %label.control-label.col-sm-4
              Competition
            .col-sm-8
              = select_tag :competition, options_for_select(competition_filter_for_matches(@competitions)),
                class: 'select2able'
      .col-lg-5
        .col-lg-7
          - max_date = 7.days.from_now.to_date.to_s
          - min_date = Date.today.to_s
          .form-group
            %label.control-label.col-sm-4
              Date
            .col-sm-8.input-group
              %input.input-sm.form-control.date-picker.limited{type: :text, name: 'on_date', 'data-max-date' => max_date, 'data-min-date' => min_date}
              %span.input-group-addon
                %i.fa.fa-calendar
        .col-lg-4.col-md-offset-1
          .form-group
            .col-sm-12.input-group
              %input.input-sm.form-control{type: :text, placeholder: 'match or event ...', name: 'search'}
              %span.input-group-btn
                %button.btn.btn-default.btn-sm
                  %i.fa.fa-search
      -#.col-lg-1
        %button.btn.btn-default.btn-sm#btn-reset-form-advanced-search-match{type: :button} Reset
  .clearfix
    -#.col-lg-3#competitions-tree-wrap.competitions-tree-menu.mas.pas{'data-filter-url' => search_backoffice_matches_path(mode: 'auto')}
    -#  - sports_competitions = @competitions.group_by(&:sport)
    -#  %div{style: "overflow-y: scroll; overflow-x: hidden; height: 500px;"}
    -#    %ul.nav.nav-list
    -#      - sports_competitions.each do |sport, competitions|
    -#        %li
    -#          %label.tree-toggler.nav-header
    -#            %i{class: class_for_sport_icon(sport.code)}
    -#            -# SPORT
    -#            = sport.name.titleize
    -#          %ul.nav.nav-list.tree
    -#            - areas_competitions = competitions.group_by(&:area)
    -#            - areas_competitions.each do |area, competitions|
    -#              %li
    -#                -# AREA
    -#                %label.tree-toggler.nav-header
    -#                  %img.flag{class: flag_class_for_area_id(area.opta_area_id)}
    -#                  = area.name
    -#                %ul.nav.nav-list.tree{style: "display: none;"}
    -#                  - competitions.each do |compt|
    -#                    %li
    -#                      %a.lk-select-competition.text-info{href: '#', 'data-competition-id' => compt.opta_competition_id, 'data-sport-code' => sport.code}= compt.name
    -#
    -#        %li.divider
    .col-lg-12#available-matches-wrapper{'data-mode' => 'auto'}
      = render 'available_matches_list', matches: @matches, group_by: 'date', mode: 'auto'
-# The hidden dialog to confirm select odd
#confirm-select-odd-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header.text-warning
        %h4.modal-title Please confirm your selection
      .modal-body
        .selection-infor
        .row.text-center
          = form_for :nothing, url: confirm_backoffice_tips_path, :method => 'post' do |f|
            %button.btn.btn-success#submiter{type: :submit} Confirm
            %button.btn.btn-default{type: :button, "data-dismiss" => "modal"} Cancel
-# The hidden dialog to confirm select odd
= form_for :nothing, url: search_backoffice_matches_path, html:{ id: 'form-filter-available-matches', method: 'GET'} do |f|
  = hidden_field_tag :competition, nil, class: 'competition'
  = hidden_field_tag :mode, @mode
  = hidden_field_tag :sport, nil, class: 'sport'
