%ul.nav.nav-tabs
  %li.active
    %a{href: "##{match.id}-betclic","data-toggle"=>"tab"}
      = image_tag 'bookmarkers/betclic.png'
  %li
    %a{href: "##{match.id}-france_paris", "data-toggle"=>"tab"}
      = image_tag 'bookmarkers/france_paris.png'
.tab-content
  .tab-pane.active{id: "#{match.id}-betclic"}
    = render 'betclic_bets', bets: bets['betclic'], match: match
  .tab-pane{id: "#{match.id}-france_paris"}
    = render 'france_paris_bets', bets: bets['france_paris'], match: match