#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      %a{href: root_path}
        = image_tag 'tipster-logo-main.png', alt: 'Tipster hero', class: 'img-responsive'
    #menu-main.pull-right
      %ul.list-inline
        %li
          %a{href: pricing_path}= t('menu.pricing')
        %li
          %a{href: tipsters_path}= t('menu.tipster')
        %li
          %a{href: tips_path}= t('menu.tips')
        - if current_subscriber
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"}
              = current_subscriber.full_name
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: my_profile_path}= t('menu.my_profile')
              %li
                %a{href: subscriptions_path}= t('menu.my_subscription')
              %li.divider
              %li
                %a{href: destroy_account_session_path}= I18n.t('user.sign_out')
        - else
          %li
            %a{href: new_account_session_path}= I18n.t('user.sign_in')
            -#%a{"data-toggle" => "modal", href: "#loginModal"}= t('user.sign_in')
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Connect
              %b.caret
            %ul.dropdown-menu
              %li
                %a#lk-toggle-sign-up-box{href: new_account_registration_path}= I18n.t('user.sign_up')
              = render 'shared/social_connection_links'
#page_header_mid
  / this is container header box for sub-page (signup - steps etc)
  #sub-page-header
    .container.clearfix
      - unless controller_name == 'home' && action_name == 'index'
        .pull-left
          #sub-page-title.clearfix
            %span.icon.typcn.typcn-location.pull-left.man
            .pull-right
              #sub-page-navi
                %ul.list-inline.man.text-slim
                  %li
                    %a{href: "javascript:;"}
                      Home
                  %li
                    %a{href: "javascript:;"}
                      Tipsters
              %h1#sub-page-h1.man.text-slim= yield(:title)
      .pull-right
        #sub-page-quickpanel.clearfix
          .quickpanel-left
          .quickpanel-mid
            %ul.list-inline.man
              %li
                %a#lk-view-cart{href: cart_path, class: "#{tipster_ids_in_cart.empty? ? 'empty' : ''}"}= "Cart box(#{tipster_ids_in_cart.size})"
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = I18n.t('lang')
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('en'),data: {lang: 'en', url: select_language_path}} English
                  %li
                    %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('fr'), data: {lang: 'fr', url: select_language_path}} Français
              %li
                %a{:href=>"javascript:;"}
                  %i.typcn.typcn-cog
          .quickpanel-right
  = yield :top_tipster
-#- unless current_subscriber
-#  #loginModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
-#    .modal-dialog.modal-md
-#      .modal-content
-#        .modal-body
-#          .text-center
-#            %h3 Connect with
-#            %ul.inline
-#              %li
-#                = simple_form_for :nothing, url: subscribe_identification_path do |f|
-#                  = hidden_field_tag :act, 'facebook'
-#                  %button.btn.btn-small.btn-primary{type: :submit} Facebook
-#              %li
-#                = simple_form_for :nothing, url: subscribe_identification_path  do |f|
-#                  = hidden_field_tag :act, 'google_oauth2'
-#                  %button.btn.btn-small.btn-warning{type: :submit} Google +
-#          %hr
-#          #message_return
-#          %h3.text-center="Or #{t('user.sign_in')}"
-#          = simple_form_for :account, :url => subscribe_identification_path, :method => 'POST', :html => {class: 'form-horizontal'}, remote: true do |f|
-#            = hidden_field_tag :act, 'sign_in'
-#            = f.input :email, :required => false, :autofocus => true, class: 'form-group',input_html: { :autocomplete => 'off'}
-#            = f.input :password, :required => false,class: 'form-group'
-#            .form-group
-#              .col-sm-offset-3.col-sm-9
-#                = f.button :submit, "Sign in", class: 'btn btn-success'