#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      %a{href: root_path}
        = image_tag 'tipster-logo-main.png', alt: 'Tipster hero', class: 'img-responsive'
    #menu-main.pull-right
      %ul.list-inline.man
        %li
          %a#lk-view-cart{href: cart_path, class: "#{tipster_ids_in_cart.empty? ? 'empty' : ''}"}
            %i.glyphicon.glyphicon-shopping-cart
            = "Shopping cart(#{tipster_ids_in_cart.size})"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %img{src: I18n.t('language.icon')}
            = I18n.t('language.text')
            %b.caret
          %ul.dropdown-menu
            %li
              %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('en'),data: {lang: 'en', url: select_language_path}}
                English
            %li
              %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('fr'), data: {lang: 'fr', url: select_language_path}}
                Français
        - if current_subscriber
          %li
            %a{:href=>"javascript:;"}
              %i.fa.fa-gear
              Settings
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"}
              = current_subscriber.full_name.blank? ? 'Account' : current_subscriber.full_name
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: my_profile_path}= t('menu.my_profile')
              %li
                %a{href: subscription_path}= t('menu.my_subscription')
              %li.divider
              %li
                %a{href: destroy_account_session_path}
                  %i.glyphicon.glyphicon-log-out
                  = I18n.t('user.sign_out')
  .menu
    .container
      %ul.list-inline.clearfix
        %li.pull-left
          %a{href: '#'}
            Statistics
        %li.pull-left
          %a{href: '#'}
            Livescore
        %li.pull-left
          %a{href: tipsters_path}
            = t('menu.tipster')
        %li.pull-left
          %a{href: last_tips_path}
            Last tips
        %li.pull-left
          %a{href: '#'}
            News
        %li.pull-left
          %a{href: pricing_path}
            = t('menu.pricing')
        - unless current_subscriber
          %li.pull-left
            %a.lk-toggle-sign-in-box{href: '#'}
              %i.glyphicon.glyphicon-log-in
              = I18n.t('user.sign_in')
          -#%li
          -#  %a.lk-toggle-sign-up-box{href: '#'}= I18n.t('user.sign_up')


-if controller_name=='tipsters' && action_name=='show'
  .background-granite
    .container
      #sub-page-navi
        %ol.breadcrumb.mbn
          %li
            %a() Home
          %li
            %a() Tipster
- page_header_mid_class = 'fixed-bg' if ((controller_name == 'home' && action_name == 'index') || controller_name == 'tipsters' && action_name == 'show')
#page_header_mid{class: page_header_mid_class}
  / this is container header box for sub-page (signup - steps etc)
  #sub-page-header
    .container.clearfix
      - if controller_name == 'home' && action_name == 'index'
      - elsif controller_name == 'tipsters' && action_name == 'show'
        .tipsterdetail-head
          .row
            .col-md-3
              .avatar-tipster
                = image_tag (@tipster.avatar_url || 'demo.jpg'), class: 'img-responsive'
            .col-md-9
              .common-tipster-info
                %table.table
                  %tr
                    %td(rowspan="2" width="200")
                      %h4.mtn THOMAS
                      %span Souksouvanh
                    %td() RANK
                    %td() AVG.YIED
                    %td() AVG.PROFIT
                  %tr
                    %td()
                      %h4.man 1
                    %td()
                      %h4.man 30%
                    %td()
                      %h4.man 1290,90

      - else
        .pull-left
          #sub-page-title.clearfix
            %span.icon.typcn.typcn-location.pull-left.man
            .pull-right
              #sub-page-navi
                %ul.list-inline.man.text-slim
                  %li
                    %a{href: "javascript:;"}
                      Home
                  %li
                    %a{href: "javascript:;"}
                      Tipsters
              %h1#sub-page-h1.man.text-slim= yield(:title)
          .quickpanel-right

- if controller_name == 'tipsters' && action_name == 'show'
  .tipters-menu-quicklink
    .container
      .row
        .col-md-9.col-md-offset-3.pts
          %ul.list-inline
            %li
              %a()
                %i General Statistic
            %li -
            %li
              %a()
                %i Details statistic
            %li -
            %li
              %a()
                %i Last Tips
            %li -
            %li
              %a()
                %i Tipster's description
- if controller_name == 'home' && action_name == 'index'
  = yield :top_tipster