#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      %a{href: root_path}
        = image_tag 'tipster-logo-main.png', alt: 'Tipster hero', class: 'img-responsive'
    #menu-main.pull-right
      %ul.list-inline.man
        %li
          %a#lk-view-cart{href: cart_path, class: "#{tipster_ids_in_cart.empty? ? 'empty' : ''}"}
            %i.glyphicon.glyphicon-shopping-cart
            = I18n.t('menu.shopping_cart')
            = "(#{tipster_ids_in_cart.size})"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: 'javascript:void(0);'}
            %img{src: I18n.t('language.icon')}
            = I18n.t('language.text')
            %b.caret
          %ul.dropdown-menu
            %li
              %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('en'),data: {lang: 'en', url: select_language_path}}
                English
            -#%li
            -#  %a.lk-change-lang{href: 'javascript:;', class: class_for_link_to_change_lang('fr'), data: {lang: 'fr', url: select_language_path}}
            -#    Français
        %li
          %a{href: "javascript:;"}
            %i.fa.fa-gear
            Settings
  - current_menu = yield(:current_menu) || ''
  .menu
    .container
      %ul.list-inline.clearfix
        %li.pull-left
          %a{href: 'javascript:void(0);', class: set_current_menu('statistics',current_menu)}
            = I18n.t('menu.statistics')
        %li.pull-left
          %a{href: 'javascript:void(0);', class: set_current_menu('livescore',current_menu)}
            = I18n.t('menu.livescore')
        %li.pull-left
          %a{href: tipsters_path, class: set_current_menu('tipsters',current_menu)}
            = t('menu.tipster')
        %li.pull-left
          %a{href: last_tips_path, class: set_current_menu('last_tips',current_menu)}
            = t('menu.last_tips')
        %li.pull-left
          %a{href: 'javascript:void(0);', class: set_current_menu('news',current_menu)}
            = t('menu.news')
        %li.pull-left
          %a{href: pricing_path, class: set_current_menu('pricing',current_menu)}
            = t('menu.pricing')
        - if current_subscriber
          %li.dropdown.box-user-control.pull-right
            %a.dropdown-toggle{'data-toggle' => "dropdown", href: "javascript:void(0);"}
              - display_text = current_subscriber.full_name.blank? ? current_subscriber.account.email : current_subscriber.full_name
              = truncate(display_text, length: 25)
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: my_profile_path}= t('menu.my_profile')
              %li
                %a{href: subscription_path}= t('menu.my_subscription')
              %li.divider
              %li
                %a{href: destroy_account_session_path}
                  %i.glyphicon.glyphicon-log-out
                  = I18n.t('user.sign_out')
        - else
          %li.pull-right
            %a.lk-toggle-sign-in-box{href: 'javascript:void(0);'}
              %i.glyphicon.glyphicon-log-in
              = I18n.t('user.sign_in')
- if content_for? :page_head_mid
  = yield :page_head_mid
- else
  #page_header_mid
    #sub-page-header
      .container.clearfix
        .pull-left
          #sub-page-title.clearfix
            %span.icon.typcn.typcn-location.pull-left.man
            .pull-right
              #sub-page-navi
                %ul.list-inline.man.text-slim
                  %li
                    %a{href: root_path}
                      Home
                  %li
                    %a{href: tipsters_path}
                      Tipsters
              %h1#sub-page-h1.man.text-slim= yield(:title)
