#sign-in-modal-box.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        .pal= image_tag 'tipster-logo-main.png'
        .bg-grey.pts.pbs
          %span.text-white SIGN IN
      .modal-body
        .row
          .col-sm-10.col-sm-offset-1
            %a.btn.btn-md.btn-social.btn-facebook.btn-block.mbl{href: account_omniauth_authorize_path(:facebook)}
              %i.fa.fa-facebook
              Connect with Facebook
            %a.btn.btn-md.btn-social.btn-google-plus.btn-block{href: account_omniauth_authorize_path(:google_oauth2)}
              %i.fa.fa-google-plus
              Connect with Google +
            .text-center.mas
              %h5.text-muted OR
            = simple_form_for :account, url: account_session_path, html: {id: 'sign-in-form'} do |f|
              .form-group
                .input-group
                  %span.input-group-addon
                    %i(class="fa fa-envelope")
                  = f.input_field :email, as: :email, placeholder: 'Email address',id: 'email', class: 'input-block input-md form-control', autocomplete: 'off'
              .form-group
                .input-group
                  %span.input-group-addon
                    %i(class="fa fa-lock fa-lg")
                  = f.input_field :password, as: :password, placeholder: 'Password',id: 'password', class: 'input-block input-md'
              .form-group
                %div
                  %label
                    %input#account_remember_me.boolean.optional{name: "account[remember_me]", type: "checkbox",value: "1"}/
                    = t('menu.stay_connect')
                  %span
                    -# FIXME: please using route helper
                    %a.btn-link.pull-right{href: "/accounts/password/new"} Forgot password?
              #sign-in-message-container
              .form-group
                %button.btn.btn-success.btn-block.btn-md#submiter Sign In
        .text-center
          %hr
          %span.mrm Would you like to open account?
          %a.lk-toggle-sign-up-box.btn-black{href: 'javascript:void(0);'} Sign Up