#sign-up-modal-box.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header.text-center
        .pal= image_tag 'tipster-logo-main.png'
        .bg-grey.pts.pbs
          %span.text-white SIGN UP
      .modal-body
        .row
          .col-sm-10.col-sm-offset-1
            %a.btn.btn-lg.btn-social.btn-facebook.btn-block.mbl{href: account_omniauth_authorize_path(:facebook)}
              %i.fa.fa-facebook
              Connect with Facebook
            %a.btn.btn-lg.btn-social.btn-google-plus.btn-block{href: account_omniauth_authorize_path(:google_oauth2)}
              %i.fa.fa-google-plus
              Connect with Google +
            %p
              %br
            .text-center.pbl
              %h5.text-muted OR
            = simple_form_for :account, url: account_registration_path, html: {id: 'sign-up-form'} do |f|
              .form-group
                .input-group
                  %span.input-group-addon
                    %i(class="fa fa-envelope")
                  = f.input_field :email, as: :email, placeholder: 'Email address',id: 'email', class: 'input-block input-md', autocomplete: 'off'
              .form-group
                .input-group
                  %span.input-group-addon
                    %i(class="fa fa-lock fa-lg")
                  = f.input_field :password, as: :password, placeholder: 'Password',id: 'password', class: 'input-block input-md'
              .form-group
                .input-group
                  %span.input-group-addon
                    %i(class="fa fa-lock fa-lg")
                  = f.input_field :password_confirmation, as: :password, placeholder: 'Re-type password',id: 'password_confirmation', class: 'input-block input-md'
              .form-group
                %button.btn.btn-success.btn-block.btn-md#submiter Sign Up
        .text-center
          Already registered?
          %a.lk-toggle-sign-in-box.btn-black{href: 'javascript:void(0);'}
            Sign In