!!!
%html
  %head
  %title Tipster Hero
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  %meta{name: "viewport",content: "width=device-width, initial-scale=1.0"}
  %meta{"http-equiv" => "X-UA-Compatible", content: "IE=EmulateIE7;IE=EmulateIE8;IE=EmulateIE9;IE=EmulateIE10;IE=EmulateIE11"}
  = favicon_link_tag 'demo.png'
  = csrf_meta_tags
  %body.subscriber-zone
    = render 'layouts/shared/flash_messages'
    = render 'layouts/navbar'
    = yield
    = render 'layouts/page_footer'