!!!
%html
  %head
  %title Tipster Hero
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = favicon_link_tag 'demo.ico'
  = csrf_meta_tags
  %body
    .container
      = render 'layouts/navbar'
      #flash
        - if notice
          %div{:class => "alert alert-info fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => 'alert', :href => "#"} &times;
            = notice

        - if alert
          %div{:class => "alert alert-error fade in", 'data-alert' => "alert"}
            %a{:class => "close", 'data-dismiss' => "alert", :href => "#"} &times;
            = alert
      = yield
:javascript
  var rev = "fwd";
  function titlebar(val)
  {
      var msg  = "T i p s t e r H e r o";
      var res = " ";
      var speed = 100;
      var pos = val;

      var le = msg.length;
      if(rev == "fwd"){
          if(pos < le){
          pos = pos+1;
          scroll = msg.substr(0,pos);
          document.title = scroll;
          timer = window.setTimeout("titlebar("+pos+")",speed);
          }
          else{
          rev = "bwd";
          timer = window.setTimeout("titlebar("+pos+")",speed);
          }
      }
      else{
          if(pos > 0){
          pos = pos-1;
          var ale = le-pos;
          scrol = msg.substr(ale,le);
          document.title = scrol;
          timer = window.setTimeout("titlebar("+pos+")",speed);
          }
          else{
          rev = "fwd";
          timer = window.setTimeout("titlebar("+pos+")",speed);
          }
      }
  }

  titlebar(0);