= content_for(:title, "My Account")
.row-fluid
  .col-lg-7
    .well
      %h2= I18n.t('user.account_info')
      %span
        = image_tag @user.avatar_url,class: 'user_avatar'
        %span
          = simple_form_for @user,as: :user,url: change_avatar_path_for(@user), method: 'POST', html: {class: 'form-inline',novalidate: true} do |f|
            = f.file_field :avatar
            = f.hidden_field :avatar_cache
            = submit_tag t("user.update_avatar")
      %hr
      = simple_form_for @user, as: :user, url: my_account_path_for(@user), method: 'POST', html: {class: 'form-horizontal', novalidate: true} do |f|
        = f.input :first_name
        = f.input :last_name
        - profile = @user.profile || @user.build_profile
        = f.simple_fields_for :profile do |f_p|
          = render 'profiles/form', f: f_p
        .form-group
          .col-sm-offset-3.col-sm-9
            %button.btn.btn-primary{type: "submit"}= t('user.update_account')
  .col-lg-5
    .well
      %h2= I18n.t('user.change_password')
      %hr
      = simple_form_for @user, as: :user, url: change_password_path_for(@user), method: 'POST', html: {class: 'form-horizontal'} do |f|
        = f.input :current_password, required: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
        .form-group
          .col-sm-offset-3.col-sm-9
            %button.btn.btn-primary{type: "submit"}= t('user.change_password')